/*
 *FreeBSD.org - Global Styles
 *
 * $FreeBSD$
 */

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  color: #000;
  background: #fff url("../images/hdr_fill.png") repeat-x;
}

h1 {
  font-size: 120%;
  font-weight: bold;
  margin: 0em 0em 1.2em 0em;
}

h2 {
  font-size: 115%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 110%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h5 {
  font-size: 90%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h6 {
  font-size: 85%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  line-height: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.1em;
}

tt {
  font-family: monospace;
  font-size: 1.1em;
}

strong, b {
  font-weight: bold;
}

form textarea {
  text-align: left;
}
