/*
 * FreeBSD.org - Fixes for Internet Explorer
 * $FreeBSD$
 */

/*Win IE fix \*/

* html #topnavlist li { margin: 0 0.5em 0 -0.5em; }

* html #menu ul.first { border-left: 0; }
* html #menu li { margin: 0.2em 0 -1em 0; }

* html #languagenavlist li { padding: 0 0.1em 0 0.4em; }
* html #languagenavlist li.last-child { padding: 0 0em 0 0.4em; }

* html #searchnavlist li { padding: 0 0.4em 0 0.8em; }
* html #searchnavlist li.last-child { padding: 0 0 0 0.8em; }

* html #search { height: 1%; }

* html #mirror { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/

* html pre { font-size: 1.0em; }

* html tt { font-size: 1.0em; }

/*End Win IE fix*/

/*Win IE fix \*/

* html #frontshortcuts { height: 1%; }

* html #frontshortcutswrap { height: 1%; }

* html #frontshortcutscontent { height: 1%; }

* html #frontshortcutslist { height: 1%; }

* html #frontreleases { height: 1%; }

* html #frontreleaseswrap { height: 1%; }

* html #frontreleasescontent { height: 1%; }

* html #frontreleaseslist { height: 1%; }

/*End Win IE fix*/
