/*
 * FreeBSD.org - Table Styles
 *
 * $FreeBSD$
 */

.tblbasic {
  background-color: #eee;
  border-spacing: 0px;
  border: 1px solid #CACACA;
  border-bottom: 0;
  border-collapse: collapse;
}

.tblbasic thead {
  font-weight: bold;
}

.tblbasic th {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #D4D4D4;
}

.tblbasic td {
  padding: 8px;
  border-bottom: 1px solid #D4D4D4;
}

.tblbasic td+td, .tblbasic th+th {
  border-left: 1px solid #D4D4D4;
}
