<?xml version="1.0"?>
<!DOCTYPE events SYSTEM "events.dtd">
<!--
     Events which might be interesting for FreeBSD users.

     Please sort the events by start date.
-->

<!-- 
   The FreeBSD French Documentation Project
   Original revision: 1.20
   
   Version francaise : Francis Bacque <opl@opltech.net>
-->

<events>
  <cvs:keywords xmlns:cvs="http://www.FreeBSD.org/XML/CVS" version="1.0">
    <cvs:keyword name="freebsd">
      $FreeBSD$
    </cvs:keyword>
  </cvs:keywords>

  <event id="sucon-2004">
    <name>2&#232;me Conf&#233;rence Unix Helv&#233;tique</name>
    <url>http://www.sucon.ch/</url>
    <startdate>
      <year>2004</year>
      <month>9</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>9</month>
      <day>4</day>
    </enddate>
    <location>
      <country>Suisse</country>
      <state></state>
      <city>Z&#252;rich</city>
    </location>

    <description>SUCON est une conf&#233;rence emergente centr&#233;e sur
	les th&#232;mes relatifs au syst&#232;me d'exploitation Unix. Notre but 
	est de rassembler les d&#233;velopeurs, les administrateurs syst&#232;me
	et les utilisateurs d'Unix pour encourager les projets, les id&#233;es
	et la connaissance de chaque individu. Il y aura aussi des expos&#233;s
	relatifs &#224; FreeBSD.</description>
  </event>

  <event id="usenix-2004">
    <name>Conf&#233;rence Technique Annuelle USENIX de 2004</name>
    <url>http://www.usenix.org/events/usenix04/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>7</month>
      <day>2</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Massachusetts</state>
      <city>Boston</city>
    </location>

    <description>A la Conf&#233;rence Technique Annuelle USENIX 2004, se tiendra <a
    	href="http://www.usenix.org/events/usenix04/cfp/freenix.html">FREENIX</a>
	et une session d'&#233;valuation formelle des documents ainsi que les nouvelles 
	Sessions du Groupe d'Int&#233;ret Sp&#233;cial <a
	href="http://www.usenix.org/events/usenix04/usebsd.html">UseBSD</a>.
	Il n'y aura pas d'autre conf&#233;rence BSD ind&#233;pendante soutenue par Usenix 
	aux USA en 2004, ce qui fait de celle-ci LA grosse conf&#233;rence de l'ann&#233;e
	pour les "BSDistes" enthousiastes aux US.</description>
  </event>

  <event>
    <name>Linuxtag 2004</name>
    <url>http://www.linuxtag.org/2004/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>23</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>6</month>
      <day>26</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Karlsruhe</city>
      <site>Kongresszentrum</site>
    </location>
    <description>Linuxtag est l'un des plus importants march&#233;s et conf&#233;rences
      Linux et Open Source d'Europe. Comme les ann&#233;es pr&#233;c&#233;dentes, un stand FreeBSD 
      sera pr&#233;sent.</description>
  </event>

  <event id="bsdcan-2004">
    <name>BSDCan</name>
    <url>http://www.bsdcan.org/</url>
    <startdate>
      <year>2004</year>
      <month>5</month>
      <day>13</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>5</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Canada</country>
      <city>Ottawa</city>
      <site>University of Ottawa</site>
    </location>	  
    <description>BSDCan est une conf&#233;rence pour d&#233;velopeurs, o&#249; l'accent
      est fortement mis sur les technologies &#233;mergentes, les projets de
      recherche et les travaux en cours. Il pr&#233;sente aussi les projets
      d'infrastructures c&#244;t&#233; utilisateur et invite &#224; la fois la contribution des
      d&#233;velopeurs de logiciels libres et celle des solutions commerciales.
    </description>
  </event>

  <event id="asia-bsdcon-2004">
    <name>BSDCon Asie 2004</name>
    <url>http://www.asiabsdcon.org/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>12</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Taiwan</country>
      <city>Taipei</city>
      <site>Academica Sinica</site>
    </location>
    <description>La premi&#232;re Conf&#233;rence BSD en Asie, soutenue par <a
	href="http://www.usenix.org/">l'association USENIX</a>. Deux
	jours de cours pr&#233;c&#233;deront deux jours de sessions techniques
	et d'expositions commerciales.</description>
  </event>

  <event id="linuxforum-2004">
    <name>LinuxForum 2004</name>
    <url>http://www.linuxforum.dk/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>5</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>6</day>
    </enddate>
    <location>
      <country>Danemark</country>
      <city>Copenhague</city>
      <site>Symbion</site>
      <address>Fruebjergvej 3</address>
    </location>
    <description>Conf&#233;rence annuelle Open Source Danoise. Le groupe danois
	d'utilisateurs BSD <a href="http://www.bsd-dk.dk">BSD-DK</a> 
	pr&#233;sentera les BSDs.</description>
  </event>

  <event id="fosdem-2004">
    <name>Fosdem 2004</name>
    <url>http://www.fosdem.org/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>21</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>22</day>
    </enddate>
    <location>
      <country>Belgique</country>
      <city>Bruxelle</city>
      <site>Universit&#233; Libre de Bruxelles</site>
      <address>Avenue Franklin D. Roosevelt 50</address>
    </location>
    <description>Un &#233;venement de 2 jours pour promouvoir la g&#233;n&#233;ralisation
	de l'utilisation du logiciel Libre et Open Source. Parmi les projets
	pr&#233;sents lors de cet &#233;v&#233;nement, il y aura Mozilla, KDE et, bien s&#251;r
	FreeBSD.</description>
  </event>

	<event id="linuxexpofr-2004">
    <name>Solutions Linux 2004</name>
    <url>http://www.linuxsolutions.fr/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>3</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>5</day>
    </enddate>
    <location>
      <country>France</country>
      <city>Paris</city>
      <site>CNIT</site>
      <address>La D&#233;fense</address>
    </location>
    <description>Un &#233;v&#233;nement sur 3 jours pour la promotion de GNU/Linux et
	des logiciels Open Source.<a href="http://www.FreeBSD-fr.ORG"> Le 
	groupe fran&#231;ais d'utilisateurs FreeBSD</a> sera pr&#233;sent dans le village
	des Associations pour promouvoir FreeBSD, bien s&#251;r!</description>
  </event>


  <event id="ccc-20">
    <name>20. Congr&#232;s Chaos Communication</name>
    <url>http://www.ccc.de/congress/2003/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>29</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Berlin</city>
      <site>Berliner Congress Center</site>
      <address>Alexanderplatz 2</address>
    </location>
    <description>Le Congr&#232;s Chaos Communication est une conf&#233;rence
	de 3 jours portant sur la technologie, la soci&#233;t&#233; et l'utopie.
	FreeBSD sera pr&#233;sent avec un stand. Si vous d&#233;sirez 
	nous aider, merci de contacter <a
	href="mailto:brueffer@FreeBSD.org">Christian Brueffer</a>.
    </description>
    <link type="photos">
      <name>Photos par Josef El-Rayes</name>
      <url>http://gallery.daemon.li/20c3/</url>
    </link>
  </event>

  <event id="bsdcon-brasil-2003">
    <name>BSDCon Br&#233;sil</name>
    <url>http://bsdcon.myfreebsd.com.br/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>6</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>7</day>
    </enddate>
    <location>
      <country>Br&#233;sil</country>
      <city>Rio de Janeiro</city>
    </location>
    <description>C'est la premi&#232;re &#233;dition de la BSDCon Br&#233;sil. BSDCon 
	Br&#233;sil est promue et organis&#233;e par un groupe de corporations
	en relation avec la communaut&#233; BSD. Il y aura 2 jours intensifs
	d'ateliers, de pr&#233;sentations et de mini tutoriels relatifs aux
	BSDs.</description>
  </event>

  <event id="bsdlinuxday-2003">
    <name>Journ&#233;e BSD/Linux</name>
    <url>http://www.jus.or.jp/events/bsd-linux-day/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </enddate>
    <location>
      <country>Japon</country>
      <city>Yokohama</city>
    </location>
    <description>Pendant la Conf&#233;rence InternetWeek 2003, qui aura
	lieu &#224; Yokohama entre le 2 et le 5 D&#233;cembre, il y aura une
	journ&#233;e BSD/Linux organis&#233;e par la Japan Unix Society.</description>
  </event>

  <event id="sf10yearparty">
    <name>Soir&#233;e pour le 10&#232;me anniversaire de FreeBSD</name>
    <url>http://www.offmyserver.com/cgi-bin/store/rsvp.html</url>

    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </enddate>
    <location>
      <country>U.S.A.</country>
      <city>San Francisco</city>
      <site>DNA Lounge</site>
      <address>www.dnalounge.com</address>
    </location>
	<description>Rejoignez nous Lundi 24 Novembre pour c&#233;l&#233;brer les 10
	ans de FreeBSD ! RSVP <a
	href="http://www.offmyserver.com/cgi-bin/store/rsvp.html"> ici</a> 
	pour que nous commandions suffisamment de nourriture et de boissons 
	pour tout le monde.</description>

    <link type="photos">
      <name>Photos par Matt Dillon</name>
      <url>http://apollo.backplane.com/pics.bsdparty/</url>
    </link>
  </event>

  <event id="scale-2003">
    <name>SCALE: Expo Linux 2003 de Californie du Sud</name>
    <url>http://www.socallinuxexpo.com/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Californie</state>
      <city>Los Angeles</city>
      <site>Los Angeles Convention Center</site>
    </location>
    <description>La Deuxi&#232;me Expo annuelle Linux du Sud de la Californie.
	FreeBSD sera l&#224; et pr&#233;sentera du mat&#233;riel promotionnel.</description>
  </event>

  <event id="linuxday-5">
    <name>5. Linuxday Vorarlberg</name>
    <url>http://www.linuxday.at/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Autriche</country>
      <city>Dornbirn</city>
      <site>HTL Dornbirn</site>
      <address>H&#246;chsterstrasse 73</address>
    </location>
    <description>La journ&#233;e Linux de Vorarlberg est un &#233;venement
	o&#249; les acteurs des projets Open Source pr&#233;sentent leurs
	travaux &#224; la communaut&#233;. L'entr&#233;e est gratuite. Il y sera
	aussi question de FreeBSD.</description>
  </event>
      
  <event id="bsdcon-japan-2003">
    <name>BSDCon Japon 2003</name>
    <url>http://bsdcon.jp/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </enddate>
    <location>
      <country>Japon</country>
      <city>Tokyo</city>
      <site>BIZ Shinjuku</site>
    </location>
    <description>Conf&#233;rence BSD Japon 2003, la seconde conf&#233;rence
	concernant les *BSD du Japon, s'est tenue &#224; Tokyo le 18
	Octobre 2003. Il y avait environ 170 participants. Il y a eu
	deux sessions parall&#232;les (g&#233;n&#233;rale et technique), quatre
	documents techniques ainsi que douze pr&#233;sentations de travaux en cours
	durant cette conf&#233;rence.</description>
  </event>

  <event id="linux-kongress-03">
    <name>Linux-Kongress 2003</name>
    <url>http://www.linux-kongress.org/2003/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>14</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>16</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Saarbr&#252;cken</city>
      <site>Universit&#233; de Saarland</site>
    </location>
    <description>FreeBSD pr&#233;sentera un stand au Linux-Kongress, probablement
        la conf&#233;rence la plus connue en Europe des developpeurs Linux. Nous
	r&#233;pondrons aux questions, ferons des d&#233;monstrations du syst&#232;me et vendrons
	quelques produits FreeBSD.</description>
  </event>

  <event id="bsdcon-03">
    <name>BSDCon 03</name>
    <url>http://www.usenix.org/events/bsdcon03/</url>
    <startdate>
      <year>2003</year>
      <month>9</month>
      <day>8</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>9</month>
      <day>12</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Californie</state>
      <city>San Mateo</city>
    </location>
    <description>Pour la quatri&#232;me fois, l'&#233;venement majeur BSD, la BSDCon.
	Deux jours de tutoriels pr&#233;cederont deux jours et demi de sessions
	techniques. Une opportunit&#233; pour les personnes de tous niveaux 
	d'exp&#233;rience de rencontrer des experts BSD, des professionnels
	avec des exp&#233;riences concr&#232;tes et des leaders de l'industrie.
    </description>
    <link type="notes">
      <name>Notes sur la rencontre des d&#233;veloppeurs FreeBSD</name>
      <url type="freebsd-website">/events/2003/bsdcon-devsummit.html</url>
    </link>
    <link type="other">
      <name>Wiki non-officiel BSDCon US 2003</name>
      <url>http://bsdcon.kwiki.org/</url>
    </link>
    <link type="photos">
      <name>Photos BSDCon 2003 par Matt Dillon</name>
      <url>http://apollo.backplane.com/BSDCON2003/</url>
    </link>
  </event>
</events>
