<form xmlns="http://www.w3.org/1999/xhtml" method="get" action="https://www.FreeBSD.org/cgi/ports.cgi">
  {{ i18n "ports-search" }}
  <input name="query" value=""/>
  <select name="stype">
    <option value="all">{{ i18n "all" }}</option>
    <option value="name">{{ i18n "package-name" }}</option>
    <option value="text">{{ i18n "description" }}</option>
    <option value="pkgdescr">{{ i18n "long-description" }}</option>
    <option value="maintainer">{{ i18n "maintainer" }}</option>
    <option value="requires">{{ i18n "requires" }}</option>
  </select>
  <input type="submit" value={{ i18n "submit" }} />
</form>
