<form action="https://duckduckgo.com/" method="get"
        onsubmit="document.getElementById('words2').value+=' (site:www.FreeBSD.org OR site:docs.FreeBSD.org OR site:lists.FreeBSD.org OR site:wiki.FreeBSD.org OR site:forums.FreeBSD.org)'">
      <h2 class="blockhide"><label for="words2">Search</label></h2>
      <input type="hidden" name="ka" value="v" />
      <input type="hidden" name="kt" value="v" />
      <input type="hidden" name="kh" value="1" />
      <input type="hidden" name="kj" value="r2" />
  <input id="words2" name="q" type="text" size="50" maxlength="255"/>
  <br />
  <input id="submit" name="submit" type="submit" value="Submit Query" />
  <input id="reset" type="reset" value="Reset" />
</form>
