<form action="https://duckduckgo.com/" method="get">
  <h2 class="blockhide"><label for="mlwords">Search</label></h2>
  <input type="hidden" name="sites" value="docs.FreeBSD.org/mail,lists.FreeBSD.org/pipermail" />
  <input type="hidden" name="ka" value="v" />
  <input type="hidden" name="kt" value="v" />
  <input type="hidden" name="kh" value="1" />
  <input type="hidden" name="kj" value="r2" />
  <input id="mlwords" name="q" type="text" size="50" maxlength="255"/>
  <br />
  <input id="mlsubmit" name="submit" type="submit" value="Submit Query" />
  <input id="mlreset" type="reset" value="Reset" />
</form>
