<!-- $FreeBSD$ -->

<!-- 
   The FreeBSD French Documentation Project
   Original revision: 1.1
-->

div.topic {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.discussion {
	margin-left: 1cm;
}

strong.speaker {
	color: #660000;
}

strong.action {
	color: red;
}
