{{ define "main" }}
<div id="content">
  <div id="sidewrap">
    <div id="sidenav">
      {{ partial "sidenav.html" (dict "sidenavType" .Params.sidenav "data" .Site.Data "language" $.Site.Language.Lang ) }}
    </div>
  </div>
  <div id="contentwrap">
    <h1>{{ .Title }}</h1>
    {{- .Content -}}
    {{ if $.Params.security }}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            {{ if eq $.Params.security "notices" }}
              <th>Errata Notice name</th>
            {{ end }}
            {{ if eq $.Params.security "advisories" }}
              <th>Advisory name</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ if eq $.Params.security "notices" }}
            {{ with .Site.Data.security.errata }}
              {{ range .notices }}
                <tr>
                  <td class="txtdate">{{ .date }}</td>
                  <td><a href="{{.Site.BaseURL | absURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a></td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if eq $.Params.security "advisories" }}
            {{ with .Site.Data.security.advisories }}
              {{ range .advisories }}
                <tr>
                  <td class="txtdate">{{ .date }}</td>
                  <td><a href="{{.Site.BaseURL | absURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a></td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    {{ end }}
    {{ if .GitInfo }}
    <hr />
    <div class="last-modified">
      <p><strong>{{ i18n "last-modified" }}</strong>: {{ .GitInfo.AuthorDate | time.Format ":date_long" }} {{ i18n "by" }} <a href="https://cgit.freebsd.org/doc/commit/?id={{ .GitInfo.AbbreviatedHash }}" target="_blank">{{ .GitInfo.AuthorName }}</a></p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

