{{ define "main" }}
<div id="content">
  <div id="sidewrap">
    <div id="sidenav">
      {{ partial "sidenav.html" (dict "sidenavType" .Params.sidenav "data" .Site.Data "language" $.Site.Language.Lang ) }}
    </div>
  </div>
  <div id="contentwrap">
    <h1>{{ .Title }}</h1>
    {{- .Content -}}
    {{ if $.Params.security }}
      <table>
        <thead>
          <tr>
            <th>Data</th>
            {{ if eq $.Params.security "notices" }}
              <th>Errata Notice name</th>
            {{ end }}
            {{ if eq $.Params.security "advisories" }}
              <th>Advisory name</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ if eq $.Params.security "notices" }}
            {{ with .Site.Data.security.errata }}
              {{ range (sort .notices "date" "desc") }}
                <tr>
                  <td class="txtdate">{{ .date }}</td>
                  <td><a href="{{.Site.BaseURL | absLangURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a></td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if eq $.Params.security "advisories" }}
            {{ with .Site.Data.security.advisories }}
              {{ range (sort .advisories "date" "desc") }}
                <tr>
                  <td class="txtdate">{{ .date }}</td>
                  <td><a href="{{.Site.BaseURL | absLangURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a></td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  </div>
</div>
{{ end }}

