<?xml version="1.0" encoding="koi8-r"?>
<!DOCTYPE events PUBLIC "-//FreeBSD//DTD FreeBSD XML Database for Events//EN"
                        "http://www.FreeBSD.org/XML/share/xml/events.dtd">
<!--
     The FreeBSD Russian Documentation Project

     $FreeBSDru: frdp/www/ru/events/events.xml,v 1.5 2005/06/18 09:56:15 andy Exp $

     Original revision: 1.100
-->
<!--
     События, которые могут представлять интерес для пользователей FreeBSD.

     Пожалуйста, сортируйте мероприятия по дате начала.
-->

<events xmlns:xi="http://www.w3.org/2001/XInclude">
    <cvs:keyword xmlns:cvs="http://www.FreeBSD.org/XML/CVS">
      $FreeBSD$
    </cvs:keyword>

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2013.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2012.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2011.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2010.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2009.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2008.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2007.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2006.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2005.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2004.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/lang/share/xml/events2003.xml"
    xpointer="xpointer(//event)" />
</events>
