BODY {
}

BODY TD {
	font-size: 13px;
}

BODY SMALL {
	width: 615px;
	font-size: 11px;
}

.heading {
	font-size: 15px;
	background-color: #cbd2ec;
}

.section {
	font-size: 15px;
	font-weight: bold;
	background-color: #e7e9f7;
}

.notes {
	font-size: 13px;
	font-weight: normal;
}

.main {
	width: 615px;
	height: auto;
	text-align: justify;
}

.list {
	width: 550px;
	height: auto;
}
