body {
	background-color: rgb(255,255,255)
}

H1.itgadoc {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16pt;
}

H2.itgadoc {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

H3.itgadoc {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}

TD.itghead1 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16pt;
}

TD.itghead2 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}

H3.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
}
H2.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
}
caption.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}
caption.outline {
	color: "#2131ce";
	background-color: #ebebeb;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}
th.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}

th.outline {
	color: "#2131ce";
	background-color: #ebebeb;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}
td.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

caption.news { 
	color: rgb(255,255,255); 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

big.news {
	color: rgb(194,194,194);
	font-size: 20pt; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
}

table.news {
	background-color: rgb(204,255,204);
	color: rgb(194,194,194); 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
}

tr.alt {
	background-color: lavender;
}

tr.header {
	background-color: rgb(245,222,179); 
	color: rgb(194,194,194); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-weight: bold;
}

tr.tablerow {
	background-color: rgb(204,255,204); 
	color: rgb(194,194,194); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	font-weight: normal;
}

td.header {
	background-color: rgb(245,222,179); 
	color: rgb(0,0,255); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-weight: bold;
}

td.tablerow {
	background-color: rgb(204,255,204); 
	color: rgb(0,0,255); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	font-weight: normal;
}

UL.std {
	color: rgb(194,194,194);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
UL.small {
	color: rgb(194,194,194);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}
UL.big {
	color: rgb(111,221,0);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

span.std {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

span.itgadoc {
	color: "black";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

span.outline {
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

div.tty-example {
	width: 100%;
	border: none;
	padding: 10px;
	font-family: "Lucida Typewriter", lucidatypewriter, monospace;
	background-color-color: rgb(230,230,250);
}

span.error {
	font: bold 18pt helvetica;
	color: rgb(255,0,0);
}
tr.email {
	background-color: rgb(255,250,250);
}

table.outline {
	background-color: #ebebeb;
}

table.std {
	background-color: white;
}

td.input {
	background-color: #ebebeb;
	color: "#2131ce";
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

p.head {
	background-color: lavender;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
}

p.std {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

