/* $FreeBSD: www/en/events/events.css,v 1.1 2002/03/16 08:47:54 murray Exp $ */

div.topic {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.discussion {
	margin-left: 1cm;
}

strong.speaker {
	color: #660000;
}

strong.action {
	color: red;
}
