/*
 * Netscape 4 does not recognize the @import directive of CSS, so we
 * can't add an additional stylesheet layer on top of the default one.
 * Instead, we use this hack to copy this file to the end of
 * docbook.css. 
 *
 * The FreeBSD Russian Documentatin Project
 *
 * $FreeBSD$
 * $FreeBSDru: frdp/doc/ru_RU.KOI8-R/articles/releng/extra.css,v 1.1 2004/02/16 17:01:35 andy Exp $
 *
 * Original revision: 1.1
 */

/* @import "docbook.css"; */

/* Customization that looks good for this particular article. */

DIV.TITLEPAGE {
	text-align: center;
}
