/*
 *FreeBSD.org - Global Styles
 *
 * $FreeBSD$
 */

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  color: #000;
  background: #fff url("../images/hdr_fill.png") repeat-x;
}

h1 {
  font-size: 120%;
  font-weight: bold;
  margin: 0em 0em 1.2em 0em;
}

h2 {
  font-size: 115%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 110%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h5 {
  font-size: 90%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h6 {
  font-size: 85%;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  line-height: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
}

li > p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.1em;
}

tt {
  font-family: monospace;
  font-size: 1.1em;
}

strong, b {
  font-weight: bold;
}

form textarea {
  text-align: left;
}

.fa {
  font-family: FontAwesome;
  font-style: normal;
}

.admonitionblock {
  margin: 1.4rem 0;
  padding: 1rem;
  color: #444;
}

.admonitionblock table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.admonitionblock table tbody tr td.icon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  padding-bottom: .5rem;
}

.admonitionblock table tbody tr td.icon i {
  display: inline-flex;
  align-items: center;
  width: auto;
  background-position-x: .5em;
  vertical-align: initial;
  font-style: normal;
}

.admonitionblock table tbody tr td.icon i:after {
  content: attr(title);
  font-family: 'Inter var', sans-serif;
  font-weight: bolder;
  padding: 0 .5em;
  margin: -.05em;
}

.admonitionblock table tbody tr td.icon .icon-note::before {
  content: "\f05a";
  color: #19407C;
}

.admonitionblock table tbody tr td.icon .icon-tip::before {
  content: "\f0eb";
  color: #43B929;
}

.admonitionblock table tbody tr td.icon .icon-warning::before {
  content: "\f071";
  color: #BF6900;
}

.admonitionblock table tbody tr td.icon .icon-caution::before {
  content: "\f06d";
  color: #BF3400;
}

.admonitionblock table tbody tr td.icon .icon-important::before {
  content: "\f06a";
  color: #BF0000;
}

.admonitionblock table tbody tr td.icon [class^="fa icon-"] {
  font-size: 1.2rem;
  cursor: default;
}

.admonitionblock table tbody tr td.content {
  width: 100%;
  word-wrap: anywhere;
}

.admonitionblock table tbody tr td.content .title {
  margin-top: 2rem;
}

.admonitionblock table tbody tr td.content .paragraph {
  padding-top: .5rem;
}

.admonitionblock table tbody tr td.content a {
  color: #0645AD;
}

.note {
  border-left: 5px solid #19407C;
  background-color: #EAF1FB;
}

.warning {
  border-left: 5px solid #BF6900;
  background-color: #FFF4E6;
}

.important {
  border-left: 5px solid #BF0000;
  background-color: #FFE6E6;
}

.caution {
  border-left: 5px solid #BF3400;
  background-color: #FFECE6;
}

.tip {
  border-left: 5px solid #43B929;
  background-color: #EDFAEA;
}
