/*
 * FreeBSD.org - Text Styles
 *
 * $FreeBSD$
 */

/* Heading Definitions */

h1 {
  color: #990000;
}

h2 {
  color: #990000;
}

h3 {
  color: #990000;
}

h4 {
  color: #990000;
}

/* Text Styles */

.txtcolumn1 {
  width: 50%;
  line-height: 1.3em;
}

.txtcolumn2 {
  width: 50%;
  line-height: 1.5em;
}

.txtcurrentlocation {
  font-weight: bold;
}

.txtdivider {
  font-size: 0.8em;
  color: #E1E1E1;
  padding-left: 4px;
  padding-right: 4px;
}

.txtnewsevent {
  font-size: 0.9em;
  color: #000000;
}

.txtshortcuts {
  font-size: 0.9em;
  color: #000000;
}

.txtdate {
  font-size: 0.9em;
  color: #666;
}

.txtmediumgrey {
  color: #666;
}

.txtformlabel {
  color: #666;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

.txtrequiredfield {
  color: #EC5800;
}

.txtimportant {
  color: #EC5800;
}

.txtoffscreen {
  position: absolute;
  left: -1999px;
  width: 1990px;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.filename {
  color: #007a00;
}

.contrib {
  font-size: small;
  font-style: italic;
}

#txtfrontfeatureheading {
  padding-bottom: 0em;
}

#txtfrontfeaturelink a {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

#txtfrontjournalblock {
  padding-left: 0px;
}

#txtfrontjournallink {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 1px;
}

/* Link Styles */

a:link                          { color:#990000; text-decoration: underline; }
a:visited                       { color:#990000; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }
a:active                        { color:#990000; text-decoration: underline; }

footer a:link                { color:#666; text-decoration: underline; }
footer a:visited             { color:#666; text-decoration: underline; }
footer a:hover               { color:#000000; text-decoration: underline; }
footer a:active              { color:#666; text-decoration: underline; }

#frontnemscontainer h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

#frontshortcuts h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

#frontreleases h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

ul.txtdownloadlist, ul.txtdocslist {
  list-style: none;
  padding: 0 10px;
}

.txtdocslist a {
  color: #000000;
}

.tblwide {
  width: 100%;
}

.tbldownload th, .tbldownload td {
  vertical-align: top;
}
