/*
 * FreeBSD.org - Layout Styles
 *
 * The FreeBSD Traditional Chinese Project
 * Original Revision: 1.9
 *
 * $FreeBSD$
 */

@import url("../../../layout/css/layout.css");

/* Container Definitions */

/* Search */

#search form label {
  font-size: 1.09em;
}

#search form input {
  font-size: 1.09em;
}

#search form #submit {
  font-size: 1.09em;
}

#search form #words {
  font-size: 1.0em;
}

/* Mirror Select */

#mirror form label {
  font-size: 1.09em;
}

#mirror form select {
  font-size: 1.09em;
}

#mirror form #mirrorsel {
  font-size: 1.09em;
}

#mirror input {
  font-size: 1.09em;
}

/* Footer */

#footer {
  font-size: 1.09em;
}
