/*
 * FreeBSD.org - Navigation (and List) Styles
 *
 * The FreeBSD Traditional Chinese Project
 * Original Revision: 1.4
 * $FreeBSD$
 */

@import url("../../../layout/css/navigation.css");

/* Site Navigation */

#topnav {
  font-size: 1.09em;
}

#languagenav {
  font-size: 1.09em;
}

/* The search navigation is the list of links above the search box. */

#searchnav {
  font-size: 1.09em;
}

/* Category Navigation */

#sidenav, #sidenav ul, #sidenav ul ul {
  font-size: 1.0em;
}

/* Right Navigation */

.rightnav, .rightnav ul, .rightnav ul ul {
  font-size: 1.0em;
}
