{{ define "main" }}
  <div id="content">
    <div id="sidewrap">
      <div id="sidenav">
        {{ partial "sidenav.html" (dict "sidenavType" .Params.sidenav "data" .Site.Data "language" $.Site.Language.Lang ) }}
      </div>
      <div id="feedlinks">
        <ul>
          <li>
            <a href="{{ absLangURL ($.Site.BaseURL) }}events/feed.xml" title={{ i18n "upcomingFreeBSDEvents" }}>RSS 2.0 Feed</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="contentwrap">
      <h1>{{ .Title }}</h1>
      {{- .Content -}}

      {{ $eventsPath := (printf "data/%s/events/events%s.toml" $.Language.Lang (dateFormat "2006" now)) }}

      {{ $eventsData := "" }}
      {{ if (fileExists $eventsPath) -}}
        {{ $data := index .Site.Data $.Language.Lang }}
        {{ $eventsData = $data }}
      {{ else }}
        {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
        {{ $eventsData = $dataDefaultLanguage }}
      {{ end }}

      <!-- Load events and number of times -->
      {{ $countriesCodes := slice }}
      {{ $countriesCodesTimes := newScratch }}

      {{ with $eventsData }}
        {{ range (sort .events "year" "desc") }}
          {{ range .events }}
            {{ if .countryCode }}
              {{ $countriesCodes = $countriesCodes | append .countryCode }}

              {{ if $countriesCodesTimes.Get .countryCode }}
                {{ $countriesCodesTimes.Add .countryCode 1 }}
              {{ else }}
                {{ $countriesCodesTimes.Set .countryCode 1 }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $countriesCodes = $countriesCodes | uniq }}

      {{ $countriesTimes := slice }}
      {{ range $element := $countriesCodes }}
        {{ $countriesTimes = $countriesTimes | append ($countriesCodesTimes.Get .) }}
      {{ end }}

      {{ $eventsImageUrl := (printf "https://chart.googleapis.com/chart?cht=t&chs=400x200&chtm=world&chco=ffffff,ffbe38,600000&chf=bg,s,4D89F9&chd=t:%s&chld=%s" (delimit $countriesTimes ",") (delimit $countriesCodes "")) }}

      <img alt="events map" src={{ $eventsImageUrl }} />

      {{ $eventsCounter := 0 }}

      {{ if isset .Params "year" }}
        <!-- Nothing -->
      {{ else }}

        <!-- First load all current-upcoming year-month to the array -->
        {{ $yearsMonthsCP := slice }}
        {{ with $eventsData }}
          {{ range first 3 (sort .events "year" "desc") }}
            {{ range (sort .events "startDate" "asc") }}
              {{ if ge (dateFormat "20060102" .endDate) (dateFormat "20060102" now) }}
                {{ $yearsMonthsCP = $yearsMonthsCP | append (dateFormat "2006-1" .endDate) }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        <!-- Second load all past year-month to the array -->
        {{ $yearsMonthsPast := slice }}
        {{ with $eventsData }}
          {{ range first 3 (sort .events "year" "desc") }}
            {{ range (sort .events "startDate" "asc") }}
              {{ if lt (dateFormat "20060102" .endDate) (dateFormat "20060102" now) }}
                {{ $yearsMonthsPast = $yearsMonthsPast | append (dateFormat "2006-1" .endDate) }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        <!-- Remove duplicates -->
        {{ $yearsMonthsCP = $yearsMonthsCP | uniq }}
        {{ $yearsMonthsPast = $yearsMonthsPast | uniq }}

        <!-- Min year -->
        {{ $minYear := now.Year }}
        {{ $minYear = sub $minYear 2}}

        <h2 id="upcoming">{{ i18n "currentEvents" }}</h2>
        {{ range $year := seq now.Year $minYear }}
          {{ range $month := seq 1 12 }}
            {{ $yearMonth := (printf "%d-%d" $year $month) }}
            {{ if in $yearsMonthsCP $yearMonth }}
              <h1>{{ i18n $month }} {{ $year }}</h1>
              {{ with $eventsData }}
                <ul>
                  {{ range first 3 (sort .events "year" "desc") }}
                    {{ range (sort .events "startDate" "asc") }}
                      {{ if and (ge (dateFormat "20060102" .endDate) (dateFormat "20060102" now)) (eq (dateFormat "2006-1" .endDate) $yearMonth) }}
                        <li id="{{ .id }}">
                          <p>
                            <a id="{{ dateFormat "2006-01" .endDate }}:{{ $eventsCounter }}"></a>
                            <b><a href="{{ .url }}">{{ .name }}</a></b>, {{ .site }}, {{ .city }}, {{ .country }}
                            <br />
                            <em>{{ dateFormat "02" .startDate }} - {{ dateFormat "02 January, 2006" .endDate }}</em>
                            <br />
                            {{ .description | safeHTML }}
                          </p>
                        </li>
                        {{ $eventsCounter = add $eventsCounter 1 }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        <h2 id="past">{{ i18n "pastEvents" }}</h2>
        {{ range $year := seq now.Year $minYear }}
          {{ range $month := seq 12 1 }}
            {{ $yearMonth := (printf "%d-%d" $year $month) }}
            {{ if in $yearsMonthsPast $yearMonth }}
              <h1>{{ i18n $month }} {{ $year }}</h1>
              {{ with $eventsData }}
                <ul>
                  {{ range first 3 (sort .events "year" "desc") }}
                    {{ range (sort .events "startDate" "desc") }}
                      {{ if and (lt (dateFormat "20060102" .endDate) (dateFormat "20060102" now)) (eq (dateFormat "2006-1" .endDate) $yearMonth) }}
                        <li id="{{ .id }}">
                          <p>
                            <a id="{{ dateFormat "2006-01" .endDate }}:{{ $eventsCounter }}"></a>
                            <b><a href="{{ .url }}">{{ .name }}</a></b>, {{ .site }}, {{ .city }}, {{ .country }}
                            <br />
                            <em>{{ dateFormat "02" .startDate }} - {{ dateFormat "02 January, 2006" .endDate }}</em>
                            <br />
                            {{ .description | safeHTML }}
                          </p>
                        </li>
                        {{ $eventsCounter = add $eventsCounter 1 }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if isset .Params "year" }}
        {{ $year := .Params.year }}
        {{ $eventsYear := (printf "events%d" $year) }}
        {{ $eventsSelectedYear := index $eventsData.events $eventsYear }}

        <!-- First load all current-upcoming year-month to the array -->
        {{ $yearsMonthsSelected := slice }}

        {{ with $eventsSelectedYear }}
          {{ range (sort .events "startDate" "asc") }}
            {{ $yearsMonthsSelected = $yearsMonthsSelected | append (dateFormat "2006-1" .endDate) }}
          {{ end }}
        {{ end }}

        {{ $yearsMonthsSelected = $yearsMonthsSelected | uniq }}

        <h2 id="past">{{ i18n "pastEvents" }}</h2>
        {{ range $month := seq 12 1 }}
          {{ $yearMonth := (printf "%d-%d" $year $month) }}
          {{ if in $yearsMonthsSelected $yearMonth }}
            <h1>{{ i18n $month }} {{ $year }}</h1>
            {{ with $eventsSelectedYear }}
              <ul>
                {{ range (sort .events "startDate" "desc") }}
                  {{ if and (lt (dateFormat "20060102" .endDate) (dateFormat "20060102" now)) (eq (dateFormat "2006-1" .endDate) $yearMonth) }}
                    <li id="{{ .id }}">
                      <p>
                        <a id="{{ dateFormat "2006-01" .endDate }}:{{ $eventsCounter }}"></a>
                        <b><a href="{{ .url }}">{{ .name }}</a></b>, {{ .site }}, {{ .city }}, {{ .country }}
                        <br />
                        <em>{{ dateFormat "02" .startDate }} - {{ dateFormat "02 January, 2006" .endDate }}</em>
                        <br />
                        {{ .description | safeHTML }}
                      </p>
                    </li>
                    {{ $eventsCounter = add $eventsCounter 1 }}
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      <p>Events from past years:</p>
      <ul id="events-past-years">
        <li>
          <a href="../2018">2018</a>
        </li>
        <li>
          <a href="../2017">2017</a>
        </li>
        <li>
          <a href="../2016">2016</a>
        </li>
        <li>
          <a href="../2015">2015</a>
        </li>
        <li>
          <a href="../2014">2014</a>
        </li>
        <li>
          <a href="../2013">2013</a>
        </li>
        <li>
          <a href="../2012">2012</a>
        </li>
        <li>
          <a href="../2011">2011</a>
        </li>
        <li>
          <a href="../2010">2010</a>
        </li>
        <li>
          <a href="../2009">2009</a>
        </li>
        <li>
          <a href="../2008">2008</a>
        </li>
        <li>
          <a href="../2007">2007</a>
        </li>
        <li>
          <a href="../2006">2006</a>
        </li>
        <li>
          <a href="../2005">2005</a>
        </li>
        <li>
          <a href="../2004">2004</a>
        </li>
        <li>
          <a href="../2003">2003</a>
        </li>
      </ul>
    </div>
  </div>
{{ end }}
