/*
   The FreeBSD Russian Documentation Project

   $FreeBSD$
   $FreeBSDru: frdp/www/ru/events/events.css,v 1.1 2005/06/17 06:52:05 andy Exp $

   Original revision: 1.2
*/

div.topic {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.discussion {
	margin-left: 1cm;
}

strong.speaker {
	color: #660000;
}

strong.action {
	color: red;
}
