{{ $ispVendorsPath := (printf "data/%s/vendors/isp.toml" $.Language.Lang) }}

{{ $ispVendorsData := "" }}
{{ if (fileExists $ispVendorsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $ispVendorsData = $data.vendors }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $ispVendorsData = $dataDefaultLanguage.vendors }}
{{ end }}

{{ with $ispVendorsData.isp }}
  <dl>
    {{ range (sort .isp "name" "asc") }}
      <dt>
        <a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a>
      </dt>
      <dd>
        {{ .description | safeHTML }}
      </dd>
    {{ end }}
  </dl>
{{ end }}
