{{ $softwareVendorsPath := (printf "data/%s/vendors/software.toml" $.Language.Lang) }}

{{ $softwareVendorsData := "" }}
{{ if (fileExists $softwareVendorsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $softwareVendorsData = $data.vendors }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $softwareVendorsData = $dataDefaultLanguage.vendors }}
{{ end }}

{{ with $softwareVendorsData.software }}
  {{ if $.Params.grouped }}
    <h3>{{ i18n "databases" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "DATABASE" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "developmentTools" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "DEV" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "ecommerce" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "ECOMMERCE" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "email" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "EMAIL" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "misc" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "MISC" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "network" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "NETWORK" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "scientific" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "SCIENTIFIC" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "security" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "SECURITY" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>{{ i18n "isp" }}</h3>
    <ul>
      {{ range (sort .software "name" "asc") }}
        {{ if eq .category "SYSADMIN" }}
          <li><a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  {{ else }}
    <dl>
      {{ range (sort .software "name" "asc") }}
        <dt>
          <a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a>
        </dt>
        <dd>
          {{ .description | safeHTML }}
        </dd>
      {{ end }}
    </dl>
  {{ end }}
{{ end }}
