{{ $hardwareVendorsPath := (printf "data/%s/vendors/hardware.toml" $.Language.Lang) }}

{{ $hardwareVendorsData := "" }}
{{ if (fileExists $hardwareVendorsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $hardwareVendorsData = $data.vendors }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $hardwareVendorsData = $dataDefaultLanguage.vendors }}
{{ end }}

{{ with $hardwareVendorsData.hardware }}
  <dl>
    {{ range (sort .hardware "name" "asc") }}
    <dt>
      <a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a>
    </dt>
    <dd>
      {{ .description | safeHTML }}
    </dd>
    {{ end }}
  </dl>
{{ end }}

