{{ $miscVendorsPath := (printf "data/%s/vendors/misc.toml" $.Language.Lang) }}

{{ $miscVendorsData := "" }}
{{ if (fileExists $miscVendorsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $miscVendorsData = $data.vendors }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $miscVendorsData = $dataDefaultLanguage.vendors }}
{{ end }}

{{ with $miscVendorsData.misc }}
  <dl>
    {{ range (sort .misc "name" "asc") }}
      <dt>
        <a id="{{ .id }}" name="{{ .id }}" href="{{ .url }}">{{ .name }}</a>
      </dt>
      <dd>
        {{ .description | safeHTML }}
      </dd>
    {{ end }}
  </dl>
{{ end }}

