{{ $newsPath := (printf "data/%s/news/news.toml" $.Language.Lang) }}

{{ $newsData := "" }}
{{ if (fileExists $newsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $newsData = $data.news }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $newsData = $dataDefaultLanguage.news }}
{{ end }}

{{ with $newsData.news }}
  {{ $newsCounter := 0 }}
  {{ range (sort .news "date" "desc") }}
    {{ if lt $newsCounter 6 }}
    <p>
      <span class="txtdate">{{ dateFormat "2006-01-02" .date }}</span>
      <br />
      <a href="{{.Site.BaseURL | relLangURL }}news/newsflash/#{{ dateFormat "2006-01-02" .date }}:{{ $newsCounter }}">
      {{ if .title }}
        {{ $title := replaceRE "<a .*\">" "" .title }}
        {{ $title = replaceRE "</a>" "" $title }}
        {{ $title | safeHTML }}
      {{ else }}
        {{ $description := replaceRE "<a .*\">" "" .description }}
        {{ $description = replaceRE "</a>" "" $description }}
        {{ $description | safeHTML }}
      {{ end }}
      </a>
    </p>
    {{ end }}
    {{ $newsCounter = add $newsCounter 1 }}
  {{ end }}
{{ end }}
