{{ $pressPath := (printf "data/%s/press/press.toml" $.Language.Lang) }}

{{ $pressData := "" }}
{{ if (fileExists $pressPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $pressData = $data.press }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $pressData = $dataDefaultLanguage.press }}
{{ end }}

{{ with $pressData.press }}
  {{ $pressCounter := 0 }}
  {{ range (sort .press "date" "desc") }}
    {{ if lt $pressCounter 5 }}
    <p>
      <span class="txtdate">{{ dateFormat "2006-01" .date }}</span>
      <br />
      <a href="{{.Site.BaseURL | relLangURL }}press/#{{ dateFormat "2006-01" .date }}:{{ $pressCounter }}">{{ .name }}</a>
    </p>
    {{ end }}
    {{ $pressCounter = add $pressCounter 1 }}
  {{ end }}
{{ end }}
