{{ $currentLang := .language }}
{{ if eq .sidenavType "about" }}
<ul>
  <li><a href={{ "about/" | absLangURL }}>{{ i18n "about" }}</a></li>
  <li><a href={{ "features/" | absLangURL }}>{{ i18n "features" }}</a></li>
  <li><a href={{ "applications/" | absLangURL }}>{{ i18n "applications" }}</a></li>
  <li><a href={{ "advocacy/" | absLangURL }}>{{ i18n "advocacy" }}</a></li>
  <li><a href={{ "marketing/" | absLangURL }}>{{ i18n "marketing" }}</a></li>
  <li><a href={{ "administration/" | absLangURL }}>{{ i18n "administration" }}</a></li>
  <li><a href={{ "news/newsflash/" | absLangURL }}>{{ i18n "news" }}</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href={{ "press" | absLangURL }}>{{ i18n "pressSidenav" }}</a></li>
  <li><a href={{ "multimedia" | absLangURL }}>{{ i18n "multimedia" }}</a></li>
  <li><a href={{ "art" | absLangURL }}>{{ i18n "art" }}</a></li>
  <li><a href={{ "logo" | absLangURL }}>{{ i18n "logo" }}</a></li>
  <li><a href={{ "donations" | absLangURL }}>{{ i18n "donations" }}</a></li>
  <li><a href={{ "copyright" | absLangURL }}>{{ i18n "legalNotices" }}</a></li>
  <li><a href={{ "privacy" | absLangURL }}>{{ i18n "privacy" }}</a></li>
</ul>
{{ else if eq .sidenavType "community" }}
<ul>
  <li><a href={{ "community" | absLangURL }}>{{ i18n "community" }}</a></li>
  <li><a href={{ "community/mailinglists/" | absLangURL }}>{{ i18n "mailinglists" }}</a></li>
  <li><a href="https://forums.FreeBSD.org/">{{ i18n "forums" }}</a></li>
  <li><a href={{ "community/irc/" | absLangURL }}>IRC</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/book/#eresources-news" }}>{{ i18n "newsgroups" }}</a></li>
  <li><a href={{ "usergroups" | absLangURL }}>{{ i18n "usergroups" }}</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href={{ "community/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a></li>
  <li><a href="http://serverfault.com/questions/tagged/freebsd">Q&A (external)</a></li>
</ul>
{{ else if eq .sidenavType "developers" }}
<ul>
  <li><a href={{ "projects" | absLangURL }}>{{ i18n "Developers" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/developers-handbook/" }}>{{ i18n "developerHandbook" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/porters-handbook/" }}>{{ i18n "porterHandbook" }}</a></li>
  <li><a href={{ "developers/cvs/" | absLangURL }}>{{ i18n "sourceCodeRepositories" }}</a></li>
  <li><a href={{ "releng" | absLangURL }}>{{ i18n "releng" }}</a></li>
  <li><a href={{ "platforms" | absLangURL }}>{{ i18n "platforms" }}</a></li>
  <li><a href="https://wiki.FreeBSD.org/IdeasPage">{{ i18n "ideas" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/articles/contributing/" }}>{{ i18n "contributing" }}</a></li>
</ul>
{{ else if eq .sidenavType "docs" }}
<ul>
  <li><a href={{ "docs" | absLangURL }}>{{ i18n "documentation" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/faq/" }}>{{ i18n "FAQ" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/" }}>{{ i18n "handbook" }}</a></li>
  <li><a href="https://cgi.FreeBSD.org">{{ i18n "man" }}</a></li>
  <li><a href="https://papers.freebsd.org/">{{ i18n "papers" }}</a></li>
  <li><a href={{ "docs/books/" | absLangURL }}>{{ i18n "booksArticles" }}</a></li>
  <li><a href={{ "publish" | absLangURL }}>{{ i18n "publications" }}</a></li>
  <li><a href={{ "docs/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a></li>
  <li><a href={{ "projects/newbies/" | absLangURL }}>{{ i18n "newbies" }}</a></li>
  <li><a href={{ "docproj" | absLangURL }}>{{ i18n "docproj" }}</a></li>
  <li><a href="https://docs.freebsd.org/doc/">{{ i18n "archive" }}</a></li>
</ul>
{{ else if eq .sidenavType "download" }}
<ul>
  <li><a href={{ "where" | absLangURL }}>{{ i18n "getFreeBSD" }}</a></li>
  <li>
    <a href={{ "releases" | absLangURL }}>{{ i18n "releases" }}</a>
    <ul>
      <li>{{ i18n "productionRelease" }}: <br /><a href={{ index .data.releases "u-rel121-announce" }}>{{ index .data.releases "rel122-current" }}</a></li>
      <li>{{ i18n "productionRelease" }}: <br /><a href={{ index .data.releases "u-rel121-announce" }}>{{ index .data.releases "rel121-current" }}</a></li>
      <li>{{ i18n "productionRelease" }}: <br /><a href={{ index .data.releases "u-rel114-announce" }}>{{ index .data.releases "rel114-current" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "snapshots" | absLangURL }}>{{ i18n "snapshotReleases" }}</a>
      <ul>
        <li>{{ i18n "upcomingRelease" }}:<br /><a href={{ index .data.releases "u-betarel2-schedule" }}>{{ index .data.releases "betarel2-current" }}</a></li>
      </ul>
  </li>
  <li><a href={{ "ports" | absLangURL }}>{{ i18n "portedApplications" }}</a></li>
</ul>
{{ else if eq .sidenavType "gnome" }}
<ul>
  <li>
    <a href={{ "gnome" | absLangURL }}>{{ i18n "gnome" }}</a>
    <ul>
      <li><a href={{ "gnome/docs/faq2/#q1" | absLangURL }}>{{ i18n "installationInstructions" }}</a></li>
      <li><a href={{ "gnome/docs/faq232/#q2" | absLangURL }}>{{ i18n "upgradeInstructions" }}</a></li>
      <li><a href={{ "gnome/../ports/gnome/" | absLangURL }}>{{ i18n "availableApplications" }}</a></li>
      <li><a href={{ "gnome/docs/volunteer/" | absLangURL }}>{{ i18n "howHelp" }}</a></li>
      <li><a href={{ "gnome/docs/bugging/" | absLangURL }}>{{ i18n "reportingBug" }}</a></li>
      <li><a href={{ "gnome/screenshots/" | absLangURL }}>{{ i18n "screenshots" }}</a></li>
      <li><a href={{ "gnome/contact/" | absLangURL }}>{{ i18n "contactUs" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "gnome" | absLangURL }}>{{ i18n "documentation" }}</a>
    <ul>
      <li><a href={{ "gnome/docs/faq2/" | absLangURL }}>{{ i18n "FAQ" }}</a></li>
      <li><a href={{ "gnome/docs/halfaq/" | absLangURL }}>{{ i18n "HALFAQ" }}</a></li>
      <li><a href={{ "gnome/docs/faq232/" | absLangURL }}>{{ i18n "upgradeFAQ" }}</a></li>
      <li><a href={{ "gnome/docs/develfaq/" | absLangURL }}>{{ i18n "developmentBranchFAQ" }}</a></li>
      <li><a href={{ "gnome/docs/porting/" | absLangURL }}>{{ i18n "creatingPorts" }}</a></li>
      <li><a href={{ "gnome/docs/faq232/#q4" | absLangURL }}>{{ i18n "knownIssues" }}</a></li>
    </ul>
  </li>
</ul>
{{ else if eq .sidenavType "ports" }}
<ul>
  <li><a href={{ "ports/" | absLangURL }}>{{ i18n "aboutPorts" }}</a></li>
  <li><a href={{ "ports/installing/" | absLangURL }}>{{ i18n "installing" }}</a></li>
  <li><a href={{ "ports/updating/" | absLangURL }}>{{ i18n "updating" }}</a></li>
  <li><a href={{ "ports/searching/" | absLangURL }}>{{ i18n "searching" }}</a></li>
  <li><a href={{ "ports/references/" | absLangURL }}>{{ i18n "moreInformation" }}</a></li>
</ul>
{{ else if eq .sidenavType "support" }}
<ul>
  <li><a href={{ "support" | absLangURL }}>{{ i18n "support" }}</a></li>
  <li>
    <a href={{ "commercial" | absLangURL }}>{{ i18n "vendors" }}</a>
    <ul>
      <li><a href={{ "commercial/software_bycat/" | absLangURL }}>{{ i18n "software" }}</a></li>
      <li><a href={{ "commercial/hardware/" | absLangURL }}>{{ i18n "hardware" }}</a></li>
      <li><a href={{ "commercial/consult_bycat/" | absLangURL }}>{{ i18n "consulting" }}</a></li>
      <li><a href={{ "commercial/isp/" | absLangURL }}>{{ i18n "ispCommercial" }}</a></li>
      <li><a href={{ "commercial/misc/" | absLangURL }}>{{ i18n "misc" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "security" | absLangURL }}>{{ i18n "securityInfo" }}</a>
    <ul>
      <li><a href={{ "security/advisories/" | absLangURL }}>{{ i18n "advisories" }}</a></li>
      <li><a href={{ "security/notices/" | absLangURL }}>{{ i18n "errataNoticesSidenav" }}</a></li>
      <li><a href={{ "security/#sup" | absLangURL }}>{{ i18n "supportedReleases" }}</a></li>
      <li><a href={{ "security/unsupported/" | absLangURL }}>{{ i18n "unsupportedReleases" }}</a></li>
      <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/#security-advisories" }}>{{ i18n "readSecurityAdvisories" }}</a></li>
      <li><a href={{ "security/charter/" | absLangURL }}>{{ i18n "charterSecurityOfficerTeam" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "support/bugreports/" | absLangURL }}>{{ i18n "bugreports" }}</a>
    <ul>
      <li><a href="https://bugs.FreeBSD.org/submit/">{{ i18n "submitPR" }}</a></li>
    </ul>
  </li>
  <li><a href={{ "support/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a></li>
</ul>
{{ else }}
<ul>
  <li><a href={{ "about/" | absLangURL }}>{{ i18n "about" }}</a></li>
  <li><a href={{ "features/" | absLangURL }}>{{ i18n "features" }}</a></li>
  <li><a href={{ "applications/" | absLangURL }}>{{ i18n "applications" }}</a></li>
  <li><a href={{ "advocacy/" | absLangURL }}>{{ i18n "advocacy" }}</a></li>
  <li><a href={{ "marketing/" | absLangURL }}>{{ i18n "marketing" }}</a></li>
  <li><a href={{ "administration/" | absLangURL }}>{{ i18n "administration" }}</a></li>
  <li><a href={{ "news/newsflash/" | absLangURL }}>{{ i18n "news" }}</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href={{ "press" | absLangURL }}>{{ i18n "pressSidenav" }}</a></li>
  <li><a href={{ "multimedia" | absLangURL }}>{{ i18n "multimedia" }}</a></li>
  <li><a href={{ "art" | absLangURL }}>{{ i18n "art" }}</a></li>
  <li><a href={{ "logo" | absLangURL }}>{{ i18n "logo" }}</a></li>
  <li><a href={{ "donations" | absLangURL }}>{{ i18n "donations" }}</a></li>
  <li><a href={{ "copyright" | absLangURL }}>{{ i18n "legalNotices" }}</a></li>
  <li><a href={{ "privacy" | absLangURL }}>{{ i18n "privacy" }}</a></li>
</ul>
{{ end }}
