{{ $currentLang := .language }}
{{ if eq .sidenavType "about" }}
<ul>
  <li><a href={{ "about/" | absLangURL }}>{{ i18n "about" }}</a></li>
  <li><a href={{ "features/" | absLangURL }}>{{ i18n "features" }}</a></li>
  <li><a href={{ "applications/" | absLangURL }}>{{ i18n "applications" }}</a></li>
  <li><a href={{ "administration/" | absLangURL }}>{{ i18n "administration" }}</a></li>
  <li><a href={{ "news/" | absLangURL }}>{{ i18n "news" }}</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href={{ "press" | absLangURL }}>{{ i18n "pressSidenav" }}</a></li>
  <li><a href={{ "art" | absLangURL }}>{{ i18n "art" }}</a></li>
  <li><a href={{ "donations" | absLangURL }}>{{ i18n "donations" }}</a></li>
  <li><a href={{ "copyright" | absLangURL }}>{{ i18n "legalNotices" }}</a></li>
  <li><a href={{ "privacy" | absLangURL }}>{{ i18n "privacy" }}</a></li>
</ul>
{{ else if eq .sidenavType "community" }}
<ul>
  <li><a href="https://www.bsdnow.tv/" target="_blank">BSD Now</a></li>
  <li><a href="https://discord.com/invite/n2wshsy" target="_blank">Discord</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href="https://forums.FreeBSD.org/" target="_blank">{{ i18n "forums" }}</a></li>
  <li><a href="{{ "community/irc/" | absLangURL }}">IRC</a></li>
  <li><a href="{{ "community/mailinglists/" | absLangURL }}">{{ i18n "mailinglists" }}</a></li>
  <li><a href="https://www.reddit.com/r/freebsd/" target="_blank">Reddit</a></li>
  <li><a href="https://twitter.com/freebsd" target="_blank">Twitter</a></li>
  <li><a href="{{ "usergroups" | absLangURL }}">{{ i18n "usergroups" }}</a></li>
  <li><a href="https://www.youtube.com/FreeBSDProject" target="_blank">YouTube</a></li>
</ul>
{{ else if eq .sidenavType "developers" }}
<ul>
  <li><a href={{ "projects" | absLangURL }}>{{ i18n "Developers" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/developers-handbook/" }}>{{ i18n "developerHandbook" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/articles/committers-guide" }}>{{ i18n "committersGuide" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/porters-handbook/" }}>{{ i18n "porterHandbook" }}</a></li>
  <li><a href={{ "releng" | absLangURL }}>{{ i18n "releng" }}</a></li>
  <li><a href={{ "platforms" | absLangURL }}>{{ i18n "platforms" }}</a></li>
  <li><a href="https://wiki.FreeBSD.org/IdeasPage">{{ i18n "ideas" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/articles/contributing/" }}>{{ i18n "contributing" }}</a></li>
</ul>
{{ else if eq .sidenavType "docs" }}
<ul>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/" }}>{{ i18n "documentation" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/faq/" }}>{{ i18n "FAQ" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/" }}>{{ i18n "handbook" }}</a></li>
  <li><a href="https://man.FreeBSD.org">{{ i18n "man" }}</a></li>
  <li><a href="https://papers.freebsd.org/">{{ i18n "papers" }}</a></li>
  <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/" }}>{{ i18n "booksArticles" }}</a></li>
  <li><a href={{ "docs/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a></li>
  <li><a href={{ "projects/newbies/" | absLangURL }}>{{ i18n "newbies" }}</a></li>
  <li><a href={{ "docproj" | absLangURL }}>{{ i18n "docproj" }}</a></li>
  <li><a href="https://docs.freebsd.org/doc/">{{ i18n "archive" }}</a></li>
</ul>
{{ else if eq .sidenavType "download" }}
<ul>
  <li><a href={{ "where" | absLangURL }}>{{ i18n "getFreeBSD" }}</a></li>
  <li>
    <a href={{ "releases" | absLangURL }}>{{ i18n "releases" }}</a>
    <ul>
      <li>{{ i18n "productionRelease" }}: <br /><a href={{ index .data.releases "u-rel132-announce" }}>{{ index .data.releases "rel132-current" }}</a></li>
      <li>{{ i18n "productionRelease" }}: <br /><a href={{ index .data.releases "u-rel140-announce" }}>{{ index .data.releases "rel140-current" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "snapshots" | absLangURL }}>{{ i18n "snapshotReleases" }}</a>
      <ul>
        {{ $betaUpcoming := index .data.releases "beta-upcoming" }}
        {{ if ne $betaUpcoming "IGNORE" }}
        <li>{{ i18n "upcomingRelease" }}:<br /><a href={{ index .data.releases "u-betarel-schedule" }}>{{ index .data.releases "betarel-current" }}</a></li>
        {{ end }}
        {{ $beta2Upcoming := index .data.releases "beta2-upcoming" }}
        {{ if ne $beta2Upcoming "IGNORE" }}
        <li>{{ i18n "upcomingRelease" }}:<br /><a href={{ index .data.releases "u-betarel2-schedule" }}>{{ index .data.releases "betarel2-current" }}</a></li>
        {{ end }}
        {{ $beta3Upcoming := index .data.releases "beta3-upcoming" }}
        {{ if ne $beta3Upcoming "IGNORE" }}
        <li>{{ i18n "upcomingRelease" }}:<br /><a href={{ index .data.releases "u-betarel3-schedule" }}>{{ index .data.releases "betarel3-current" }}</a></li>
        {{ end }}
      </ul>
  </li>
  <li><a href={{ "ports" | absLangURL }}>{{ i18n "portedApplications" }}</a></li>
</ul>
{{ else if eq .sidenavType "ports" }}
<ul>
  <li><a href="https://ports.freebsd.org/cgi/ports.cgi">Ports</a></li>
  <li><a href="https://www.freshports.org/" target="_blank">FreshPorts</a></li>
</ul>
{{ else if eq .sidenavType "support" }}
<ul>
  <li><a href={{ "support" | absLangURL }}>{{ i18n "support" }}</a></li>
  <li>
    <a href={{ "commercial" | absLangURL }}>{{ i18n "vendors" }}</a>
    <ul>
      <li><a href={{ "commercial/software_bycat/" | absLangURL }}>{{ i18n "software" }}</a></li>
      <li><a href={{ "commercial/hardware/" | absLangURL }}>{{ i18n "hardware" }}</a></li>
      <li><a href={{ "commercial/consult_bycat/" | absLangURL }}>{{ i18n "consulting" }}</a></li>
      <li><a href={{ "commercial/isp/" | absLangURL }}>{{ i18n "ispCommercial" }}</a></li>
      <li><a href={{ "commercial/misc/" | absLangURL }}>{{ i18n "misc" }}</a></li>
    </ul>
  </li>
  <li>
    <a href={{ "security" | absLangURL }}>{{ i18n "securityInfo" }}</a>
    <ul>
      <li><a href={{ "security/advisories/" | absLangURL }}>{{ i18n "advisories" }}</a></li>
      <li><a href={{ "security/notices/" | absLangURL }}>{{ i18n "errataNoticesSidenav" }}</a></li>
      <li><a href={{ "security/#sup" | absLangURL }}>{{ i18n "supportedReleases" }}</a></li>
      <li><a href={{ "security/unsupported/" | absLangURL }}>{{ i18n "unsupportedReleases" }}</a></li>
      <li><a href={{ printf "%s%s%s" "https://docs.FreeBSD.org/" $currentLang "/books/handbook/#security-advisories" }}>{{ i18n "readSecurityAdvisories" }}</a></li>
      <li><a href={{ "security/charter/" | absLangURL }}>{{ i18n "charterSecurityOfficerTeam" }}</a></li>
    </ul>
  </li>
  <li>
    <li><a href="https://bugs.FreeBSD.org/submit/">{{ i18n "submitPR" }}</a></li>
  </li>
  <li><a href={{ "support/webresources/" | absLangURL }}>{{ i18n "webresources" }}</a></li>
</ul>
{{ else }}
<ul>
  <li><a href={{ "about/" | absLangURL }}>{{ i18n "about" }}</a></li>
  <li><a href={{ "features/" | absLangURL }}>{{ i18n "features" }}</a></li>
  <li><a href={{ "applications/" | absLangURL }}>{{ i18n "applications" }}</a></li>
  <li><a href={{ "administration/" | absLangURL }}>{{ i18n "administration" }}</a></li>
  <li><a href={{ "news/newsflash/" | absLangURL }}>{{ i18n "news" }}</a></li>
  <li><a href={{ "events" | absLangURL }}>{{ i18n "events" }}</a></li>
  <li><a href={{ "press" | absLangURL }}>{{ i18n "pressSidenav" }}</a></li>
  <li><a href={{ "art" | absLangURL }}>{{ i18n "art" }}</a></li>
  <li><a href={{ "donations" | absLangURL }}>{{ i18n "donations" }}</a></li>
  <li><a href={{ "copyright" | absLangURL }}>{{ i18n "legalNotices" }}</a></li>
  <li><a href={{ "privacy" | absLangURL }}>{{ i18n "privacy" }}</a></li>
</ul>
{{ end }}
