<head>
  <meta charset="utf-8">
  <meta name="description" content="FreeBSD is an operating system used to power modern servers, desktops, and embedded platforms." />
  <meta name="keywords" content="FreeBSD, BSD, UNIX, open source" />

  <meta name="copyright" content="1995-{{ now.Format "2006" }} The FreeBSD Foundation" />

  <title>{{ with .Params.Title }}{{ . }} | {{ end }} {{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  <link rel="shortcut icon" href="{{ absLangURL ($.Site.BaseURL) }}favicon.ico">

  <link rel="stylesheet" href="{{ absLangURL ($.Site.BaseURL) }}css/fixed.css">

  <link rel="search" type="application/opensearchdescription+xml" href="{{ absLangURL ($.Site.BaseURL) }}opensearch/man.xml" title="FreeBSD Man">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ absLangURL ($.Site.BaseURL) }}opensearch/man-freebsd-release-ports.xml" title="FreeBSD Man+P">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ absLangURL ($.Site.BaseURL) }}opensearch/ports.xml" title="FreeBSD Ports">
  <link rel="search" type="application/opensearchdescription+xml" href="{{ absLangURL ($.Site.BaseURL) }}opensearch/message-id.xml" title="FreeBSD M-ID">

  <!-- SEO -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@freebsd"/>
  <meta property="og:title" content="{{ if .Params.Title }}{{ .Params.Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta property="og:description" content="FreeBSD is an operating system used to power modern servers, desktops, and embedded platforms." />
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="{{ absLangURL ($.Site.BaseURL) }}images/logo-thepowertoserve.png"/>
  <meta property="og:image:alt" content="FreeBSD - The Power to Serve - Server - Desktop - Embedded">
  <meta property="og:locale" content="{{ $.Site.Language.Lang | default "en" }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <!-- END SEO -->

  <!-- privacy-friendly web statistics -->
  <script defer data-domain="freebsd.org" src="https://plausible.io/js/script.outbound-links.js"></script>

</head>
