/*
 * FreeBSD.org - Fixes for Internet Explorer
 *
 * The FreeBSD Simplified Chinese Project
 * Original Revision: 1.3
 *
 * $FreeBSD: www/zh_CN/layout/css/iefixes.css,v 1.1.1000.1 2005/12/17 16:27:02 delphij Exp $
 */

/*Win IE fix \*/

* html #TOPNAVLIST li { margin: 0 0.5em 0 -0.5em; }
* html #topnavlist li { margin: 0 0.5em 0 -0.5em; }

* html #languagenavlist li { padding: 0 0.1em 0 0.4em; }
* html #languagenavlist li.last-child { padding: 0 0em 0 0.4em; }

* html #searchnavlist li { padding: 0 0.4em 0 0.8em; }
* html #searchnavlist li.last-child { padding: 0 0 0 0.8em; }
* html #SEARCHNAVLIST li { padding: 0 0.4em 0 0.8em; }
* html #SEARCHNAVLIST li.last-child { padding: 0 0 0 0.8em; }

* html #SEARCH, #search { height: 1%; }

* html #MIRROR, #mirror { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/

* html pre { font-size: 1.0em; }

* html tt { font-size: 1.0em; }

/*End Win IE fix*/

/*Win IE fix \*/

* html #FRONTSHORTCUTS, #frontshortcuts { height: 1%; }

* html #FRONTSHORTCUTSWRAP, #frontshortcutswrap { height: 1%; }

* html #FRONTSHORTCUTSCONTENT, #frontshortcutscontent { height: 1%; }

* html #FRONTSHORTCUTSLIST, #frontshortcutslist { height: 1%; }

* html #FRONTRELEASES, #frontreleases { height: 1%; }

* html #FRONTRELEASESWRAP, #frontreleaseswrap { height: 1%; }

* html #FRONTRELEASESCONTENT, #frontreleasescontent { height: 1%; }

* html #FRONTRELEASESLIST, #frontreleaseslist { height: 1%; }

/*End Win IE fix*/
