{{ define "main" }}
  <div id="content">
    <div id="sidewrap">
      <div id="sidenav">
        {{ partial "sidenav.html" (dict "sidenavType" .Params.sidenav "data" .Site.Data "language" $.Site.Language.Lang ) }}
      </div>
    </div>
    <div id="contentwrap">
      {{- .Content -}}

      {{ if eq .Params.vendor "software" }}
        {{ partial "commercial-software.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "isp" }}
        {{ partial "commercial-isp.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "hardware" }}
        {{ partial "commercial-hardware.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "consult" }}
        {{ partial "commercial-consulting.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "misc" }}
        {{ partial "commercial-misc.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
