<?xml version="1.0"?>
<!DOCTYPE events SYSTEM "events.dtd">
<!--
     Events which might be interesting for FreeBSD users.

     Please sort the events by start date.
-->

<events>
  <cvs:keywords xmlns:cvs="http://www.FreeBSD.org/XML/CVS" version="1.0">
    <cvs:keyword name="freebsd">
      $FreeBSD: www/en/events/events.xml,v 1.24 2004/04/04 21:49:39 phantom Exp $
    </cvs:keyword>
  </cvs:keywords>

  <event id="sucon-2004">
    <name>2nd Swiss Unix Conference</name>
    <url>http://www.sucon.ch/</url>
    <startdate>
      <year>2004</year>
      <month>9</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>9</month>
      <day>4</day>
    </enddate>
    <location>
      <country>Switzerland</country>
      <state></state>
      <city>Z&#252;rich</city>
    </location>
    <description>SUCON is a emerging conference focused on topics
      related to the Unix operating system. Our goal is to bring
      together developers, system administrators and users in the
      field of Unix to foster projects, ideas and the knowledge of
      every individual. There will also be some speeches related to
      FreeBSD.</description>
  </event>

  <event id="usenix-2004">
    <name>2004 USENIX Annual Technical Conference</name>
    <url>http://www.usenix.org/events/usenix04/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>7</month>
      <day>2</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Massachusetts</state>
      <city>Boston</city>
    </location>
    <description>The 2004 USENIX ATC will have <a
      href="http://www.usenix.org/events/usenix04/freenix.html">FREENIX</a>
      and general refereed paper session, along with new <a
      href="http://www.usenix.org/events/usenix04/usebsd.html">UseBSD</a>
      Special Interest Group Sessions.  There will not be a separate
      Usenix-sponsored BSDCon in the U.S. in 2004, so this is THE big
      conference of the year for BSD enthusiasts in the
      U.S.</description>
  </event>

  <event id="linuxtag04">
    <name>Linuxtag 2004</name>
    <url>http://www.linuxtag.org/2004/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>23</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>6</month>
      <day>26</day>
    </enddate>
    <location>
      <country>Germany</country>
      <city>Karlsruhe</city>
      <site>Kongresszentrum</site>
    </location>
    <description>The Linuxtag is one of Europe's biggest Linux and Open Source
      related tradeshows and conferences. As in previous years, FreeBSD will be
      present with a booth.</description>
  </event>

  <event id="linuxwochen04">
    <name>Linuxwochen Wien</name>
    <url>http://www.linuxwochen.at</url>
    <startdate>
      <year>2004</year>
      <month>5</month>
      <day>26</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>5</month>
      <day>29</day>
    </enddate>
    <location>
      <country>Austria</country>
      <city>Vienna</city>
      <site>Museumsquartier, A-1070 Wien Museumsplatz 1</site>
    </location>
    <description>Linuxwochen is an annual roadshow of open source
      conferences, which take place in all major cities in Austria.
      Vienna is the biggest event.  There will be a FreeBSD speech and
      a booth by <a href="mailto:josef@FreeBSD.org">Josef El-Rayes</a>.
      If you like to help out take a look at the
      <a href="http://roadtrip.daemon.li/index.pl?LinuxWochen">
        FreeBSD Booth's Wiki</a>.
    </description>
  </event>

  <event id="bsdcan-2004">
    <name>BSDCan</name>
    <url>http://www.bsdcan.org/</url>
    <startdate>
      <year>2004</year>
      <month>5</month>
      <day>13</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>5</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Canada</country>
      <city>Ottawa</city>
      <site>University of Ottawa</site>
    </location>
    <description>BSDCan is a developers conference with a strong focus
      on emerging technologies, research projects, and works in
      progress. It also features Userland infrastructure projects and
      invite contribution from both free software developers and those
      from commercial vendors.</description>
  </event>

  <event id="asia-bsdcon-2004">
    <name>Asia BSDCon 2004</name>
    <url>http://www.asiabsdcon.org/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>12</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Taiwan</country>
      <city>Taipei</city>
      <site>Academica Sinica</site>
    </location>
    <description>The first BSDCon held in Asia, and sponsored by <a
      href="http://www.usenix.org/">USENIX Association</a>. Two days
      of tutorials will precede two days of technical sessions and a
      vendor exhibit.</description>
  </event>

  <event id="linuxforum-2004">
    <name>LinuxForum 2004</name>
    <url>http://www.linuxforum.dk/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>5</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>6</day>
    </enddate>
    <location>
      <country>Denmark</country>
      <city>Copenhagen</city>
      <site>Symbion</site>
      <address>Fruebjergvej 3</address>
    </location>
    <description>Annual Danish Open Source conference.  The Danish BSD
      user group <a href="http://www.bsd-dk.dk">BSD-DK</a> will present
      the BSD's.</description>
  </event>

  <event id="fosdem-2004">
    <name>Fosdem 2004</name>
    <url>http://www.fosdem.org/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>21</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>22</day>
    </enddate>
    <location>
      <country>Belgium</country>
      <city>Brussels</city>
      <site>Universite Libre de Bruxelles</site>
      <address>Avenue Franklin D. Roosevelt 50</address>
    </location>
    <description>A 2 day event to promote the widespread use of Free
      and Open Source software. Among the projects present at the event
      will be Mozilla, KDE and, of course, FreeBSD.</description>
  </event>

  <event id="linuxexpofr-2004">
    <name>Solutions Linux 2004</name>
    <url>http://www.linuxsolutions.fr/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>3</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>5</day>
    </enddate>
    <location>
      <country>France</country>
      <city>Paris</city>
      <site>CNIT</site>
      <address>La Defense</address>
    </location>
    <description>A 3 day event to promote GNU/Linux and Open Source software. 
	<a href="http://www.FreeBSD-fr.ORG">French FreeBSD User Group</a>  
	will be present in the Association Village to promote FreeBSD 
	of course !</description>
  </event>

  <event id="ccc-20">
    <name>20. Chaos Communication Congress</name>
    <url>http://www.ccc.de/congress/2003/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>29</day>
    </enddate>
    <location>
      <country>Germany</country>
      <city>Berlin</city>
      <site>Berliner Congress Center</site>
      <address>Alexanderplatz 2</address>
    </location>
    <description>The Chaos Communication Congress is a three-day
      conference on technology, society and utopia. FreeBSD will
      be present with a booth. If you are interested in helping
      out, please contact <a
      href="mailto:brueffer@FreeBSD.org">Christian Brueffer</a>.
    </description>
    <link type="photos">
      <name>Photos by Josef El-Rayes</name>
      <url>http://gallery.daemon.li/20c3/</url>
    </link>
  </event>

  <event id="bsdcon-brasil-2003">
    <name>BSDCon Brasil</name>
    <url>http://bsdcon.myfreebsd.com.br/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>6</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>7</day>
    </enddate>
    <location>
      <country>Brazil</country>
      <city>Rio de Janeiro</city>
    </location>
    <description>This is the first edition of BSDCon Brasil.  BSDCon
      Brasil is being promoted and organized by a pool of corporations
      connected with the BSD community.  There will be two intensive days
      of workshops, presentations and mini-tutorials related to BSD at
      large.</description>
  </event>

  <event id="bsdlinuxday-2003">
    <name>BSD/Linux Day</name>
    <url>http://www.jus.or.jp/events/bsd-linux-day/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </enddate>
    <location>
      <country>Japan</country>
      <city>Yokohama</city>
    </location>
    <description>During the InternetWeek 2003 Conference, which takes
      place in Yokohama, between December 2nd and 5th, there will be a
      BSD/Linux Day, organized by the Japan Unix Society.</description>
  </event>

  <event id="sf10yearparty">
    <name>FreeBSD 10 Year Anniversary Party</name>
    <url>http://www.offmyserver.com/cgi-bin/store/rsvp.html</url>

    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </enddate>
    <location>
      <country>U.S.A.</country>
      <city>San Francisco</city>
      <site>DNA Lounge</site>
      <address>www.dnalounge.com</address>
    </location>

    <description>Join us Monday November 24th to celebrate 10 years of
      FreeBSD!  Please RSVP <a
      href="http://www.offmyserver.com/cgi-bin/store/rsvp.html">here</a>
      so we can order enough food and drink for everyone.</description>

    <link type="photos">
      <name>Photos by Matt Dillon</name>
      <url>http://apollo.backplane.com/pics.bsdparty/</url>
    </link>
  </event>

  <event id="scale-2003">
    <name>SCALE: Southern California Linux Expo 2003</name>
    <url>http://www.socallinuxexpo.com/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>California</state>
      <city>Los Angeles</city>
      <site>Los Angeles Convention Center</site>
    </location>
    <description>The Second Annual Southern California Linux Expo.
      FreeBSD will be present and handing out promotional
      material.</description>
  </event>

  <event id="linuxday-5">
    <name>5. Linuxday Vorarlberg</name>
    <url>http://www.linuxday.at/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Austria</country>
      <city>Dornbirn</city>
      <site>HTL Dornbirn</site>
      <address>H&#246;chsterstrasse 73</address>
    </location>
    <description>The Linuxday in Vorarlberg is an event where
      people from opensource projects present their efforts to
      the community. Entrance is free of charge. There will also be
      a talk about FreeBSD.</description>
  </event>
      
  <event id="bsdcon-japan-2003">
    <name>BSDCon Japan 2003</name>
    <url>http://bsdcon.jp/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </enddate>
    <location>
      <country>Japan</country>
      <city>Tokyo</city>
      <site>BIZ Shinjuku</site>
    </location>
    <description>BSD Conference Japan 2003, the second conference
      concerning *BSD in Japan, was held in Tokyo on October 18th, 2003.
      There were about 170 attendees.  It had two parallel
      sessions (general and technical), and
      four technical papers and twelve work-in-progress style talks
      were presented during the conference.</description>
  </event>

  <event id="linux-kongress-03">
    <name>Linux-Kongress 2003</name>
    <url>http://www.linux-kongress.org/2003/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>14</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>16</day>
    </enddate>
    <location>
      <country>Germany</country>
      <city>Saarbr&#252;cken</city>
      <site>University of the Saarland</site>
    </location>
    <description>FreeBSD will be present with a booth at the Linux-Kongress,
      probably Europe's best known Linux developer conference.  We will
      answer questions, show you the system and sell some FreeBSD
      merchandising.</description>
  </event>

  <event id="bsdcon-03">
    <name>BSDCon '03</name>
    <url>http://www.usenix.org/events/bsdcon03/</url>
    <startdate>
      <year>2003</year>
      <month>9</month>
      <day>8</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>9</month>
      <day>12</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>California</state>
      <city>San Mateo</city>
    </location>
    <description>For the fourth time, the main BSD Event, BSDCon is
      happening.  Two days of tutorials will precede two and a half
      days of technical sessions.  An opportunity for people of all
      experience levels to learn from BSD experts, professionals with
      real world experience, and industry leaders.</description>
    <link type="notes">
      <name>FreeBSD Developer Summit notes</name>
      <url type="freebsd-website">/events/2003/bsdcon-devsummit.html</url>
    </link>
    <link type="other">
      <name>Unofficial BSDCon US 2003 Wiki</name>
      <url>http://bsdcon.kwiki.org/</url>
    </link>
    <link type="photos">
      <name>BSDCon 2003 Photos by Matt Dillon</name>
      <url>http://apollo.backplane.com/BSDCON2003/</url>
    </link>
  </event>
</events>
