/*
 * FreeBSD.org - Navigation (and List) Styles
 *
 * $FreeBSD$
 */

/* Site Navigation */

#topnav {
  text-align: left;
  color: #666;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  height: 29px;
  overflow: visible;
  margin-top: 7px;
}

#topnavleft {
  width: 7px;
  height: 29px;
  border: 0px;
  padding-right: 10px;
  margin: 0px;
  float: left;
}

#topnavleft img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#topnavright {
  width: 7px;
  height: 29px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#topnavright img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#topnavlist {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 29px;
}

#topnavlist li {
  padding: 0 1em 0 1.2em;
  display: inline;
  border-left: 1px solid #B4B4B4;
}

#topnavlist li a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

#topnavlist li:first-child {
  border-left: 0;
  padding-left: 0;
}

/* New drop-down menu implementation */

#menu {
  float: left;
  height: 2.0em;
  font-size: 90%;
  clear: both;
  margin-top: .1%;
  font-weight: bold;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0px 10px 2px 10px;
  float: left;
  border-left: 1px solid #B4B4B4;
}

#menu ul:first-child {
   padding-left: 0;
   border: 0;
}

#menu a {
  display: block;
  padding: 0px 3px;
  color: #666;
  text-decoration: none;
}

#menu a:hover {
  color: #990000;
}

#menu li {
  position: relative;
}

#menu ul ul {
  position: absolute;
  background-color: #e5e5e5;
  padding: 2px;
  border: 0;
  width: 10em;
  z-index: 500;
}

#menu ul ul li {
  border-top: 1px solid #B4B4B4;
  padding: 4px 0 4px 0;
}

#menu ul ul ul {
  top: 0;
  left: 100%;
  background: #e5e5e5;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul {
  display: none;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul {
  display: block;
}

/* Language selection */

#languagenav {
  text-align: right;
  color: #666;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
  right: 0px;
  padding: 0;
}

#languagenavlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

#languagenavlist li {
  padding: 0 0.5em 0 0.2em;
  display: inline;
  border-right: 1px solid #B6B6B6;
}

#languagenavlist li.last-child {
  padding: 0 0em 0 0.2em;
  border-right: 0;
}

#languagenavlist li a {
  text-decoration: underline;
}

#languagenavlist li a:hover {
}

/* The search navigation is the list of links above the search box. */

#searchnav {
  position: relative;
  text-align: right;
  color: #fff;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
  margin-top: 8px;
  right: 0px;
  padding: 0;
}

#searchnavlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

#searchnavlist li {
  padding: 0 0.6em 0 0.3em;
  display: inline;
  border-right: 1px solid #fff;
}

#searchnavlist li.last-child {
  padding: 0 0 0 0.3em;
  border-right: 0;
}

#searchnavlist li a {
  color: #FFCC66;
  text-decoration: underline;
}

#searchnavlist li a:hover {
  color: #fff;
}

/* Category Navigation */

#sidenav, #sidenav ul, #sidenav ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
}

#sidenav {
  width: 150px;
  background-color: #eee;
  border: 1px solid #D4D4D4;
}

#sidenav ul {
  padding: 8px 4px 12px 4px;
}

#sidenav ul ul {
  background: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidenav ul ul li {
  background: none;
  border: none;
}

#sidenav ul li {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 12px 0.65em;
}

#sidenav ul li.active {
  font-weight: bold;
}

#sidenav ul li.active span {
  display: none;
}

#sidenav ul li a {
  display: block;
  color: #990000;
  text-decoration: underline;
  padding: 3px 5px 3px 12px;
  margin: 0;
}

#sidenav ul ul li a.active {
  font-weight: bold;
}

#sidenav ul ul li a {
  display: block;
  padding-left: 12px;
  margin: 0;
}

#sidenav ul li a:hover {
  color: #000;
}

#feedlinks {
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
  list-style: none;
  display: block;
}

#feedlinks ul {
  list-style-image: url(../images/ico_rss.png);
}

/* Right Navigation */

.rightnav, .rightnav ul, .rightnav ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
}

.rightnav {
  width: 150px;
  background-color: #eee;
  border: 1px solid #D4D4D4;
}

.rightnav ul {
  padding: 8px 4px 12px 4px;
}

.rightnav ul ul {
  background: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rightnav ul ul li {
  background: none;
  border: none;
}

.rightnav ul li {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 12px 0.65em;
}

.rightnav ul li.active {
  font-weight: bold;
}

.rightnav ul li.active span {
  display: none;
}

.rightnav ul li a {
  display: block;
  color: #990000;
  text-decoration: underline;
  padding: 3px 5px 3px 12px;
  margin: 0;
}

.rightnav ul ul li a.active {
  font-weight: bold;
}

.rightnav ul ul li a {
  display: block;
  padding-left: 12px;
  margin: 0;
}

.rightnav ul li a:hover {
  color: #000;
}

.rightnav h1, .rightnav h2, .rightnav h3, .rightnav h4, .rightnav h5, .rightnav h6, .rightnav p {
  padding-left: 10px;
  padding-right: 10px;
}
