<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE events PUBLIC "-//FreeBSD//DTD FreeBSD XML Database for Events//EN"
                        "http://www.FreeBSD.org/XML/share/xml/evenets.dtd">
<!--
     Events which might be interesting for FreeBSD users.

     Please sort the events by start date.
-->

<!--
   The FreeBSD French Documentation Project
   Original revision: 1.20

   Version francaise : Francis Bacque <opl@opltech.net>
-->

<events>
    <cvs:keyword xmlns:cvs="http://www.FreeBSD.org/XML/CVS">
      $FreeBSD$
    </cvs:keyword>

  <event id="sucon-2004">
    <name>2ème Conférence Unix Helvétique</name>
    <url>http://www.sucon.ch/</url>
    <startdate>
      <year>2004</year>
      <month>9</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>9</month>
      <day>4</day>
    </enddate>
    <location>
      <country>Suisse</country>
      <state></state>
      <city>Zürich</city>
    </location>

    <description>SUCON est une conférence emergente centrée sur
	les thèmes relatifs au système d'exploitation Unix. Notre but
	est de rassembler les dévelopeurs, les administrateurs système
	et les utilisateurs d'Unix pour encourager les projets, les idées
	et la connaissance de chaque individu. Il y aura aussi des exposés
	relatifs à FreeBSD.</description>
  </event>

  <event id="usenix-2004">
    <name>Conférence Technique Annuelle USENIX de 2004</name>
    <url>http://www.usenix.org/events/usenix04/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>7</month>
      <day>2</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Massachusetts</state>
      <city>Boston</city>
    </location>

    <description>A la Conférence Technique Annuelle USENIX 2004, se tiendra <a
    	href="http://www.usenix.org/events/usenix04/cfp/freenix.html">FREENIX</a>
	et une session d'évaluation formelle des documents ainsi que les nouvelles
	Sessions du Groupe d'Intéret Spécial <a
	href="http://www.usenix.org/events/usenix04/usebsd.html">UseBSD</a>.
	Il n'y aura pas d'autre conférence BSD indépendante soutenue par Usenix
	aux USA en 2004, ce qui fait de celle-ci LA grosse conférence de l'année
	pour les "BSDistes" enthousiastes aux US.</description>
  </event>

  <event>
    <name>Linuxtag 2004</name>
    <url>http://www.linuxtag.org/2004/</url>
    <startdate>
      <year>2004</year>
      <month>6</month>
      <day>23</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>6</month>
      <day>26</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Karlsruhe</city>
      <site>Kongresszentrum</site>
    </location>
    <description>Linuxtag est l'un des plus importants marchés et conférences
      Linux et Open Source d'Europe. Comme les années précédentes, un stand FreeBSD
      sera présent.</description>
  </event>

  <event id="bsdcan-2004">
    <name>BSDCan</name>
    <url>http://www.bsdcan.org/</url>
    <startdate>
      <year>2004</year>
      <month>5</month>
      <day>13</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>5</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Canada</country>
      <city>Ottawa</city>
      <site>University of Ottawa</site>
    </location>
    <description>BSDCan est une conférence pour dévelopeurs, où l'accent
      est fortement mis sur les technologies émergentes, les projets de
      recherche et les travaux en cours. Il présente aussi les projets
      d'infrastructures côté utilisateur et invite à la fois la contribution des
      dévelopeurs de logiciels libres et celle des solutions commerciales.
    </description>
  </event>

  <event id="asia-bsdcon-2004">
    <name>BSDCon Asie 2004</name>
    <url>http://www.asiabsdcon.org/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>12</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Taiwan</country>
      <city>Taipei</city>
      <site>Academica Sinica</site>
    </location>
    <description>La première Conférence BSD en Asie, soutenue par <a
	href="http://www.usenix.org/">l'association USENIX</a>. Deux
	jours de cours précéderont deux jours de sessions techniques
	et d'expositions commerciales.</description>
  </event>

  <event id="linuxforum-2004">
    <name>LinuxForum 2004</name>
    <url>http://www.linuxforum.dk/</url>
    <startdate>
      <year>2004</year>
      <month>3</month>
      <day>5</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>3</month>
      <day>6</day>
    </enddate>
    <location>
      <country>Danemark</country>
      <city>Copenhague</city>
      <site>Symbion</site>
      <address>Fruebjergvej 3</address>
    </location>
    <description>Conférence annuelle Open Source Danoise. Le groupe danois
	d'utilisateurs BSD <a href="http://www.bsd-dk.dk">BSD-DK</a>
	présentera les BSDs.</description>
  </event>

  <event id="fosdem-2004">
    <name>Fosdem 2004</name>
    <url>http://www.fosdem.org/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>21</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>22</day>
    </enddate>
    <location>
      <country>Belgique</country>
      <city>Bruxelle</city>
      <site>Université Libre de Bruxelles</site>
      <address>Avenue Franklin D. Roosevelt 50</address>
    </location>
    <description>Un évenement de 2 jours pour promouvoir la généralisation
	de l'utilisation du logiciel Libre et Open Source. Parmi les projets
	présents lors de cet événement, il y aura Mozilla, KDE et, bien sûr
	FreeBSD.</description>
  </event>

	<event id="linuxexpofr-2004">
    <name>Solutions Linux 2004</name>
    <url>http://www.linuxsolutions.fr/</url>
    <startdate>
      <year>2004</year>
      <month>2</month>
      <day>3</day>
    </startdate>
    <enddate>
      <year>2004</year>
      <month>2</month>
      <day>5</day>
    </enddate>
    <location>
      <country>France</country>
      <city>Paris</city>
      <site>CNIT</site>
      <address>La Défense</address>
    </location>
    <description>Un événement sur 3 jours pour la promotion de GNU/Linux et
	des logiciels Open Source.<a href="http://www.FreeBSD-fr.ORG"> Le
	groupe français d'utilisateurs FreeBSD</a> sera présent dans le village
	des Associations pour promouvoir FreeBSD, bien sûr!</description>
  </event>


  <event id="ccc-20">
    <name>20. Congrès Chaos Communication</name>
    <url>http://www.ccc.de/congress/2003/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>27</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>29</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Berlin</city>
      <site>Berliner Congress Center</site>
      <address>Alexanderplatz 2</address>
    </location>
    <description>Le Congrès Chaos Communication est une conférence
	de 3 jours portant sur la technologie, la société et l'utopie.
	FreeBSD sera présent avec un stand. Si vous désirez
	nous aider, merci de contacter <a
	href="mailto:brueffer@FreeBSD.org">Christian Brueffer</a>.
    </description>
    <link type="photos">
      <name>Photos par Josef El-Rayes</name>
      <url>http://gallery.daemon.li/20c3/</url>
    </link>
  </event>

  <event id="bsdcon-brasil-2003">
    <name>BSDCon Brésil</name>
    <url>http://bsdcon.myfreebsd.com.br/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>6</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>7</day>
    </enddate>
    <location>
      <country>Brésil</country>
      <city>Rio de Janeiro</city>
    </location>
    <description>C'est la première édition de la BSDCon Brésil. BSDCon
	Brésil est promue et organisée par un groupe de corporations
	en relation avec la communauté BSD. Il y aura 2 jours intensifs
	d'ateliers, de présentations et de mini tutoriels relatifs aux
	BSDs.</description>
  </event>

  <event id="bsdlinuxday-2003">
    <name>Journée BSD/Linux</name>
    <url>http://www.jus.or.jp/events/bsd-linux-day/</url>
    <startdate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>12</month>
      <day>2</day>
    </enddate>
    <location>
      <country>Japon</country>
      <city>Yokohama</city>
    </location>
    <description>Pendant la Conférence InternetWeek 2003, qui aura
	lieu à Yokohama entre le 2 et le 5 Décembre, il y aura une
	journée BSD/Linux organisée par la Japan Unix Society.</description>
  </event>

  <event id="sf10yearparty">
    <name>Soirée pour le 10ème anniversaire de FreeBSD</name>
    <url>http://www.offmyserver.com/cgi-bin/store/rsvp.html</url>

    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>24</day>
    </enddate>
    <location>
      <country>U.S.A.</country>
      <city>San Francisco</city>
      <site>DNA Lounge</site>
      <address>www.dnalounge.com</address>
    </location>
	<description>Rejoignez nous Lundi 24 Novembre pour célébrer les 10
	ans de FreeBSD ! RSVP <a
	href="http://www.offmyserver.com/cgi-bin/store/rsvp.html"> ici</a>
	pour que nous commandions suffisamment de nourriture et de boissons
	pour tout le monde.</description>

    <link type="photos">
      <name>Photos par Matt Dillon</name>
      <url>http://apollo.backplane.com/pics.bsdparty/</url>
    </link>
  </event>

  <event id="scale-2003">
    <name>SCALE: Expo Linux 2003 de Californie du Sud</name>
    <url>http://www.socallinuxexpo.com/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>22</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Californie</state>
      <city>Los Angeles</city>
      <site>Los Angeles Convention Center</site>
    </location>
    <description>La Deuxième Expo annuelle Linux du Sud de la Californie.
	FreeBSD sera là et présentera du matériel promotionnel.</description>
  </event>

  <event id="linuxday-5">
    <name>5. Linuxday Vorarlberg</name>
    <url>http://www.linuxday.at/</url>
    <startdate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>11</month>
      <day>15</day>
    </enddate>
    <location>
      <country>Autriche</country>
      <city>Dornbirn</city>
      <site>HTL Dornbirn</site>
      <address>Höchsterstrasse 73</address>
    </location>
    <description>La journée Linux de Vorarlberg est un évenement
	où les acteurs des projets Open Source présentent leurs
	travaux à la communauté. L'entrée est gratuite. Il y sera
	aussi question de FreeBSD.</description>
  </event>

  <event id="bsdcon-japan-2003">
    <name>BSDCon Japon 2003</name>
    <url>http://bsdcon.jp/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>18</day>
    </enddate>
    <location>
      <country>Japon</country>
      <city>Tokyo</city>
      <site>BIZ Shinjuku</site>
    </location>
    <description>Conférence BSD Japon 2003, la seconde conférence
	concernant les *BSD du Japon, s'est tenue à Tokyo le 18
	Octobre 2003. Il y avait environ 170 participants. Il y a eu
	deux sessions parallèles (générale et technique), quatre
	documents techniques ainsi que douze présentations de travaux en cours
	durant cette conférence.</description>
  </event>

  <event id="linux-kongress-03">
    <name>Linux-Kongress 2003</name>
    <url>http://www.linux-kongress.org/2003/</url>
    <startdate>
      <year>2003</year>
      <month>10</month>
      <day>14</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>10</month>
      <day>16</day>
    </enddate>
    <location>
      <country>Allemagne</country>
      <city>Saarbrücken</city>
      <site>Université de Saarland</site>
    </location>
    <description>FreeBSD présentera un stand au Linux-Kongress, probablement
        la conférence la plus connue en Europe des developpeurs Linux. Nous
	répondrons aux questions, ferons des démonstrations du système et vendrons
	quelques produits FreeBSD.</description>
  </event>

  <event id="bsdcon-03">
    <name>BSDCon 03</name>
    <url>http://www.usenix.org/events/bsdcon03/</url>
    <startdate>
      <year>2003</year>
      <month>9</month>
      <day>8</day>
    </startdate>
    <enddate>
      <year>2003</year>
      <month>9</month>
      <day>12</day>
    </enddate>
    <location>
      <country>USA</country>
      <state>Californie</state>
      <city>San Mateo</city>
    </location>
    <description>Pour la quatrième fois, l'évenement majeur BSD, la BSDCon.
	Deux jours de tutoriels précederont deux jours et demi de sessions
	techniques. Une opportunité pour les personnes de tous niveaux
	d'expérience de rencontrer des experts BSD, des professionnels
	avec des expériences concrètes et des leaders de l'industrie.
    </description>
    <link type="notes">
      <name>Notes sur la rencontre des développeurs FreeBSD</name>
      <url type="freebsd-website">/events/2003/bsdcon-devsummit.html</url>
    </link>
    <link type="other">
      <name>Wiki non-officiel BSDCon US 2003</name>
      <url>http://bsdcon.kwiki.org/</url>
    </link>
    <link type="photos">
      <name>Photos BSDCon 2003 par Matt Dillon</name>
      <url>http://apollo.backplane.com/BSDCON2003/</url>
    </link>
  </event>
</events>
