/* CSS for FreeBSD-CVSweb */
/* $FreeBSD: projects/cvsweb/css/cvsweb.css,v 1.15 2004/07/20 20:04:00 scop Exp $ */

body {
  color: #000;
  background-color: #fff;
}
th {
  text-align: left;
}
hr {
  height: 1px;
  border: none;
  background-color: #000;
}
h1 {
  text-align: center;
}
fieldset {
  background-color: #eee;
  padding: 0.8em;
}
input[type="submit"] {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Generic nowrap class */
.nowrap {
  white-space: nowrap;
}

/* Source, diff and annotate views */
.src {
  color: #000;
  background-color: #eee;
  font-style: normal;
  font-weight: normal;
}

/* Navigation header for source views, diffs and annotations */
.navigate-header {
  background-color: #99e;
  padding: 2px;
  border: 2px outset;
}

/* Directory table */
table.dir {
  border-right: 1px solid #ccc;
}
/* Cells */
table.dir * td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
}
/* Column headers */
table.dir * th {
  background-color: #ffc;
  border: thin outset;
  padding-left: 5px;
  padding-right: 5px;
}
/* Sorted column header */
table.dir * th.sorted {
  background-color: #fc6;
  border: thin inset;
}
/* Even rows */
table.dir * tr.even {
  background-color: #fff;
}
/* Odd rows */
table.dir * tr.odd {
  background-color: #fff;
}
/* File and dir name columns */
table.dir * td.file, table.dir * td.dir {
  white-space: nowrap;
}
/* Graph link column */
table.dir * td.graph {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  width: 1%;
}
/* Age column */
table.dir * td.age {
  font-style: italic;
  white-space: nowrap;
}
table.dir * td.author {
  white-space: nowrap;
}
/* Log entry column */
table.dir * td.log {
  font-size: smaller;
}
/* Attic toggles in directory view */
.attic {
  font-size: smaller;
}

/* Option table labels and values */
.opt-label {
  text-align: right;
  padding-left: 0.5em;
}
.opt-value {
  padding-right: 0.5em;
}

/* Log entry in markup */
.log-markup {
  background-color: #fff;
  width: 100%;
}

/* Diff-selected revision in log */
.diff-selected {
  padding-right: 0.5em;
  border-right: 10px solid #fc6;
}

/* 'Line'-header of each diffed file */
.diff-heading {
  background-color: #9cc;
  border: 2px outset;
  padding: 5px;
}
/* Common properties for diff "contents" */
.diff {
  font-family: sans-serif;
  font-size: smaller;
}
/* Lines that are the same */
.diff-same {
  background-color: inherit;
}
/* Empty lines */
.diff-empty {
  background-color: #ccc;
}
/* Added lines */
.diff-added {
  background-color: #9f9;
}
/* Removed lines */
.diff-removed {
  background-color: #f99;
}
/* Changed lines */
.diff-changed {
  background-color: #ff6;
}
/* Empty changed lines */
.diff-changed-missing {
  background-color: #ee6;
}
/* Unchanged text in ediffs */
.diff-unchanged {
  background-color: #ccc;
}

/* Current revision lines in annotate view */
.current-rev {
  font-weight: bold;
}

/* Download links */
.download-link { 
  font-weight: bold;
}
/* Display links */
.display-link { 
  font-weight: bold;
}
