/*
 * FreeBSD.org - Layout Styles
 *
 * $FreeBSD$
 */

/* Container Definitions */

/* Page Container */

#CONTAINERWRAP, #containerwrap {
  text-align: center; /* Win IE5 */
}

#CONTAINER, #container {
  margin: 0em auto;
  width: 775px;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 15px;
  text-align: left; /* Win IE5 */
}

/* Header */

#HEADERCONTAINER, #headercontainer {
  padding-bottom: 2px;
}

#HEADER, #header {
  position: relative;
  height: 76px;
  margin: 0;
  padding: 0;
  clear: both;
}

#HEADERLOGOLEFT, #headerlogoleft {
  position: relative;
  border: 0px;
  padding: 0px;
  top: 0px;
  margin: 0px;
  float: left;
}

#HEADERLOGOLEFT img, #headerlogoleft img {
  border: 0px;
}

#HEADERLOGORIGHT, #headerlogoright {
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#HEADERLOGORIGHT img, #headerlogoright img {
  border: 0px;
}

/* Search */

#SEARCH, #search {
  position: relative;
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  color: #666;
}

#SEARCH form, #search form {
  position: relative;
  top: 5px;
  right: 0;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}

#SEARCH form label, #search form label {
  color: #666;
  font-size: 0.8em;
}

#SEARCH form input, #search form input {
  font-size: 0.8em;
}

#SEARCH form #SUBMIT, #search form #submit {
  font-size: 0.8em;
  background: transparent;
  color: #fff;
  border-right: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  border-top: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  padding: 1px 5px 1px 5px;
}

#SEARCH form #WORDS, #search form #words {
  font-size: 0.8em;
  width: 120px;
  border: 1px solid #DADADA;
  background: #FFFFFF;
  color: #666;
  padding: 2px 2px 2px 5px;
}

/* Mirror Select */

#MIRROR, #mirror {
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  color: #666;
}

#MIRROR form, #mirror form {
  padding-top: 5px;
  right: 0;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}

#MIRROR form label, #mirror form label {
  color: #666;
  font-size: 0.8em;
}

#MIRROR form select, #mirror form select {
  font-size: 0.8em;
}

#MIRROR form #mirrorsel, #mirror form #mirrorsel {
  font-size: 0.8em;
  width: 150px;
  border: 1px solid #DADADA;
  background: #FFFFFF;
  color: #666;
}

#MIRROR input, #mirror input {
  font-size: 0.8em;
  background: transparent;
  color: #666;
  border: 1px solid #DADADA;
}

/* Content */

#CONTENT, #content {
  clear: both;
  display: block;
}

#FRONTCONTAINER, #frontcontainer {
  width: 100%;
  float: left;
}

#FRONTFEATURECONTAINER, #frontfeaturecontainer {
  clear: both;
}

#FRONTFEATURELEFT, #frontfeatureleft{
  width: 273px;
  margin: 0;
  padding: 0;
  float: left;
}

#FRONTFEATURELEFT h2, #frontfeatureleft h2 {
  border: none;
  margin-top: 0;
}

#FRONTFEATURELEFT p, #frontfeatureleft p {
  margin: 0 0 1em 0;
}

	#FRONTFEATURECONTENT, #frontfeaturecontent {
	  margin: 10px 10px 10px 13px;
	}

#FRONTFEATUREMIDDLE, #frontfeaturemiddle {
  float: left;
  margin-top: 20px;
  background: url(../images/beastie.png) no-repeat top left;
  min-height: 196px;
}

#FRONTFEATURERIGHT, #frontfeatureright {
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 162px;
  float: right;
}

/* News/Events/Media/Security Box */

#FRONTNEMSCONTAINER, #frontnemscontainer {
  background: #eee;
  display: inline;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
}

#FRONTNEWS, #frontnews {
  width: 191px;
  margin: 0;
  padding: 0;
  float: left;
}

#FRONTNEWSCONTENT, #frontnewscontent {
  margin: 17px 15px 24px 18px;
}

#FRONTEVENTS, #frontevents {
  width: 189px;
  margin: 0;
  padding: 0;
  float: left;
}

#FRONTEVENTSCONTENT, #fronteventscontent {
  margin: 17px 15px 24px 14px;
}

#FRONTMEDIA, #frontmedia {
  width: 189px;
  margin: 0;
  padding: 0;
  float: left;
}

#FRONTMEDIACONTENT, #frontmediacontent {
  margin: 17px 15px 24px 14px;
}

#FRONTSECURITY, #frontsecurity {
  width: 190px;
  margin: 0;
  padding: 0;
  float: left;
}

#FRONTSECURITYCONTENT, #frontsecuritycontent {
  margin: 17px 15px 24px 14px;
}

/* No way to get equal columns in pure CSS - setting height is a temporary hack */
.frontseparator {
  width: 1px;
  height: 317px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  float: left;
}

.newseventswrap {
  padding-left: 5px;
}

.newseventslist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.newseventslist img.rssimage {
  display: inline;
  border: 0;
  vertical-align: bottom;
}

.newseventslist li {
  padding: 0 0.3em 0 0.5em;
  display: inline;
  border-right: 1px solid #E1E1E1;
}

.newseventslist li a {
}

.newseventslist li.last-child {
  border-right: 0;
  padding-right: 0;
}

.newseventslist li.first-child {
  padding-left: 0;
}

.newseventslist li.only-child {
  border-right: 0;
  padding-left: 0;
}

/* Shortcuts */

#FRONTSHORTCUTS, #frontshortcuts {
  margin: 0;
  padding: 0;
  color: #666;
}

#FRONTSHORTCUTSCONTENT, #frontshortcutscontent {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-top: 20px;
}

#FRONTSHORTCUTSLIST, #frontshortcutslist {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
  list-style: none;
}

#FRONTSHORTCUTSLIST li, #frontshortcutslist li {
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 0px 0.5em;
}

/* Latest Releases */

#FRONTRELEASES, #frontreleases {
  padding: 0;
  margin: 0;
  margin-left: 162px;
  margin-top: 15px;
  padding-bottom: 20px;
  color: #666;
  width: 155px;
}

#FRONTRELEASESCONTENT, #frontreleasescontent {
  margin: 0;
  padding: 0;
}

#FRONTRELEASESLIST, #frontreleaseslist {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
  list-style: none;
}

#FRONTRELEASESLIST li, #frontreleaseslist li {
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 0px 0.5em;
}

/* New User Box */

 /* set background images for corners */
.frontnewroundbox { background: url(../images/front_new_back.png) repeat; }
.frontnewtop div  { background: url(../images/front_new_tl.png) no-repeat top left; }
.frontnewtop      { background: url(../images/front_new_tr.png) no-repeat top right; }
.frontnewbot div  { background: url(../images/front_new_bl.png) no-repeat bottom left; }
.frontnewbot      { background: url(../images/front_new_br.png) no-repeat bottom right; }

 /* height and width details */
.frontnewtop div, .frontnewtop, .frontnewbot div, .frontnewbot {
  width: 100%;
  height: 12px;
  font-size: 1px;
}

.frontnewcontent {
  margin: 0;
  padding: 0;
  margin-top: -4px;
  margin-bottom: -4px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.frontnewcontent a, .frontnewcontent a:link, .frontnewcontent a:visited, .frontnewcontent a:hover, .frontnewcontent a:active {
  color: #990000;
  text-decoration: none;
}

.frontnewroundbox {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 150px;
}

/* Get FreeBSD Box */

 /* set background images for corners */
.frontgetroundbox { background: url(../images/front_get_back.png) repeat; }
.frontgettop div  { background: url(../images/front_get_tl.png) no-repeat top left; }
.frontgettop      { background: url(../images/front_get_tr.png) no-repeat top right; }
.frontgetbot div  { background: url(../images/front_get_bl.png) no-repeat bottom left; }
.frontgetbot      { background: url(../images/front_get_br.png) no-repeat bottom right; }

 /* height and width details */
.frontgettop div, .frontgettop, .frontgetbot div, .frontgetbot {
  width: 100%;
  height: 18px;
  font-size: 1px;
}

.frontgetcontent {
  margin: 0;
  padding: 0;
  margin-top: -8px;
  margin-bottom: -8px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.frontgetcontent a, .frontgetcontent a:link, .frontgetcontent a:visited, .frontgetcontent a:hover, .frontgetcontent a:active {
  color: #990000;
  text-decoration: none;
}

.frontgetroundbox {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: 140px;
  width: 190px;
}

/* Secondary Pages */

#SIDEWRAP, #sidewrap {
  float: left;
  width: 166px;
  margin-top: 15px;
  margin-right: -170px;
}

#RIGHTWRAP, #rightwrap {
  float: right;
  width: 166px;
  margin-left: 15px;
}

#CONTENTWRAP, #contentwrap {
  margin-left: 170px;
  padding-top: 15px;
}

/* Footer */

#FOOTER, #footer {
  font-size: 0.9em;
  color: #737373;
  line-height: 1.3em;
  padding-top: 5px;
  clear: both;
}

/* Misc Classes */

.clearboth {
  clear: both;
  margin: 0;
  padding: 0;
}

.blockhide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;  /* IE5 Mac */
}

img {
  border: 0;
}
