/*
  FreeBSD.org - Navigation (and List) Styles
*/

/* Site Navigation */

#TOPNAV, #topnav {
  text-align: left;
  color: #666;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  height: 29px;
  overflow: visible;
  margin-top: 7px;
}

#TOPNAVLEFT, #topnavleft {
  width: 7px;
  height: 29px;
  border: 0px;
  padding-right: 10px;
  margin: 0px;
  float: left;
}

#TOPNAVLEFT img, #topnavleft img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#TOPNAVRIGHT, #topnavright {
  width: 7px;
  height: 29px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#TOPNAVRIGHT img, #topnavright img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#TOPNAVLIST, #topnavlist {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 29px;
}

#TOPNAVLIST li, #topnavlist li {
  padding: 0 1em 0 1.2em;
  display: inline;
  border-left: 1px solid #B4B4B4;
}

#TOPNAVLIST li a, #topnavlist li a {
  color: #666;
  font-weight: bold; 
  text-decoration: none;
}

#TOPNAVLIST li:first-child, #topnavlist li:first-child {
  border-left: 0;
  padding-left: 0;
}

/* Language selection */

#LANGUAGENAV, #languagenav {
  text-align: right;
  color: #666;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
  right: 0px;
  padding: 0;
}

#LANGUAGENAVLIST, #languagenavlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

#LANGUAGENAVLIST li, #languagenavlist li {
  padding: 0 0.5em 0 0.2em;
  display: inline;
  border-right: 1px solid #B6B6B6;
}

#LANGUAGENAVLIST li.last-child, #languagenavlist li.last-child {
  padding: 0 0em 0 0.2em;
  border-right: 0;
}

#LANGUAGENAVLIST li a, #languagenavlist li a {
  text-decoration: underline;
}

#LANGUAGENAVLIST li a:hover, #languagenavlist li a:hover {
}

/* The search navigation is the list of links above the search box. */

#SEARCHNAV, #searchnav {
  position: relative;
  text-align: right;
  color: #fff;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
  margin-top: 8px;
  right: 0px;
  padding: 0;
}

#SEARCHNAVLIST, #searchnavlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

#SEARCHNAVLIST li, #searchnavlist li {
  padding: 0 0.6em 0 0.3em;
  display: inline;
  border-right: 1px solid #fff;
}

#SEARCHNAVLIST li.last-child, #searchnavlist li.last-child {
  padding: 0 0 0 0.3em;
  border-right: 0;
}

#SEARCHNAVLIST li a, #searchnavlist li a {
  color: #FFCC66;
  text-decoration: underline;
}

#SEARCHNAVLIST li a:hover, #searchnavlist li a:hover {
  color: #fff;
}

/* Category Navigation */

#SIDENAV, #SIDENAV ul, #SIDENAV ul ul, #sidenav, #sidenav ul, #sidenav ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
}

#SIDENAV, #sidenav {
  width: 150px;
  background-color: #eee;
  border: 1px solid #D4D4D4;
}

#SIDENAV ul, #sidenav ul {
  padding: 8px 4px 12px 4px;
}

#SIDENAV ul ul, #sidenav ul ul {
  background: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  list-style: none;
}

#SIDENAV ul ul li, #sidenav ul ul li {
  background: none;
  border: none;
}

#SIDENAV ul li, #sidenav ul li {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 12px 0.65em;
}

#SIDENAV ul li.active, #sidenav ul li.active {
  font-weight: bold;
}

#SIDENAV ul li.active span, #sidenav ul li.active span {
  display: none;
}

#SIDENAV ul li a, #sidenav ul li a {
  display: block;
  color: #990000;
  text-decoration: underline;
  padding: 3px 5px 3px 12px;
  margin: 0;
}

#SIDENAV ul ul li a.active, #sidenav ul ul li a.active {
  font-weight: bold;
}

#SIDENAV ul ul li a, #sidenav ul ul li a {
  display: block;
  padding-left: 12px;
  margin: 0;
}

#SIDENAV ul li a:hover, #sidenav ul li a:hover {
  color: #000;
}

/* Right Navigation */

.RIGHTNAV, .RIGHTNAV ul, .RIGHTNAV ul ul, .rightnav, .rightnav ul, .rightnav ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
}

.RIGHTNAV, .rightnav {
  width: 150px;
  background-color: #eee;
  border: 1px solid #D4D4D4;
}

.RIGHTNAV ul, .rightnav ul {
  padding: 8px 4px 12px 4px;
}

.RIGHTNAV ul ul, .rightnav ul ul {
  background: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  list-style: none;
}

.RIGHTNAV ul ul li, .rightnav ul ul li {
  background: none;
  border: none;
}

.RIGHTNAV ul li, .rightnav ul li {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-left: 12px;
  background-image: url(../images/blt_red_arrow.png);
  background-repeat: no-repeat;
  background-position: 12px 0.65em;
}

.RIGHTNAV ul li.active, .rightnav ul li.active {
  font-weight: bold;
}

.RIGHTNAV ul li.active span, .rightnav ul li.active span {
  display: none;
}

.RIGHTNAV ul li a, .rightnav ul li a {
  display: block;
  color: #990000;
  text-decoration: underline;
  padding: 3px 5px 3px 12px;
  margin: 0;
}

.RIGHTNAV ul ul li a.active, .rightnav ul ul li a.active {
  font-weight: bold;
}

.RIGHTNAV ul ul li a, .rightnav ul ul li a {
  display: block;
  padding-left: 12px;
  margin: 0;
}

.RIGHTNAV ul li a:hover, .rightnav ul li a:hover {
  color: #000;
}

.RIGHTNAV h1, .RIGHTNAV h2, .RIGHTNAV h3, .RIGHTNAV h4, .RIGHTNAV h5, .RIGHTNAV h6, .RIGHTNAV p,
.rightnav h1, .rightnav h2, .rightnav h3, .rightnav h4, .rightnav h5, .rightnav h6, .rightnav p {
  padding-left: 10px;
  padding-right: 10px;
}
