/*
 * FreeBSD.org - Text Styles
 *
 * $FreeBSD$
 */

/* Heading Definitions */

h1 {
  color: #990000;
}

h2 {
  color: #990000;
}

h3 { 
  color: #990000;
}

h4 { 
  color: #990000;
}

/* Text Styles */

.txtcolumn1 {
  width: 50%;
  line-height: 1.3em;
}

.txtcolumn2 {
  width: 50%;
  line-height: 1.5em;
}

.txtcurrentlocation {
  font-weight: bold;
}

.txtdivider { 
  font-size: 0.8em; 
  color: #E1E1E1; 
  padding-left: 4px; 
  padding-right: 4px; 
}

.txtnewsevent { 
  font-size: 0.9em; 
  color: #000000;
}

.txtshortcuts { 
  font-size: 0.9em; 
  color: #000000; 
}

.txtdate { 
  font-size: 0.9em;
  color: #666; 
}

.txtmediumgrey { 
  color: #666; 
}

.txtformlabel { 
  color: #666; 
  font-weight: bold; 
  text-align: right; 
  vertical-align: top;
}

.txtrequiredfield {
  color: #EC5800;
}

.txtimportant {
  color: #EC5800;
}

.txtoffscreen {
  position: absolute;
  left: -1999px;
  width: 1990px;
}

#TXTFRONTFEATUREHEADING, #txtfrontfeatureheading {
  padding-bottom: 0em;
}

#TXTFRONTFEATURELINK a, #txtfrontfeaturelink a {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

/* Link Styles */

a:link                          { color:#990000; text-decoration: underline; }
a:visited                       { color:#990000; text-decoration: underline; }
a:active                        { color:#990000; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

#FOOTER a:link, #footer a:link                { color:#666; text-decoration: underline; }
#FOOTER a:visited, #footer a:visited             { color:#666; text-decoration: underline; }
#FOOTER a:active, #footer a:active              { color:#666; text-decoration: underline; }
#FOOTER a:hover, #footer a:hover               { color:#000000; text-decoration: underline; }

#FRONTNEMSCONTAINER h2, #frontnemscontainer h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

#FRONTSHORTCUTS h2, #frontshortcuts h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

#FRONTRELEASES h2, #frontreleases h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
