/*
 * FreeBSD.org - Global Styles
 *
 * The FreeBSD Simplified Chinese Project
 * Original Revision: 1.11
 *
 * $FreeBSD: www/zh_CN/layout/css/global.css,v 1.1.1000.2 2005/12/17 17:04:02 delphij Exp $
 */

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  font-size: 69%;
  color: #000;
  background: #fff url("../../../layout/images/hdr_fill.png") repeat-x;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0em 0em 1.2em 0em;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 0.95em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h5 {
  font-size: 1.09em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h6 {
  font-size: 1.09em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.4em;
}

tt {
  font-family: monospace;
  font-size: 1.4em;
}

strong, b {
  font-weight: bold;
}

form textarea {
  text-align: left;
}
