/*
 * FreeBSD.org - Table Styles
 *
 * The FreeBSD Simplified Chinese Project
 * Original Revision: 1.3
 *
 * $FreeBSD: www/zh_CN/layout/css/table.css,v 1.1.1000.1 2005/12/17 16:27:02 delphij Exp $
 */

.tblbasic {
  background-color: #eee;
  border-spacing: 0px;
  border: 1px solid #CACACA;
  border-bottom: 0;
  border-collapse: collapse;
}

.tblbasic thead {
  font-weight: bold;
}

.tblbasic th {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #D4D4D4;
}

.tblbasic td {
  padding: 8px;
  border-bottom: 1px solid #D4D4D4;
}

.tblbasic td+td, .tblbasic th+th {
  border-left: 1px solid #D4D4D4;
}
