/*
 * FreeBSD.org - Text Styles
 *
 * The FreeBSD Simplified Chinese Project
 * Original Revision: 1.4
 *
 * $FreeBSD$
 */

@import url("../../../layout/css/text.css");

/* Text Styles */

.txtdivider { 
  font-size: 1.09em; 
}

.txtnewsevent { 
  font-size: 1.09em; 
}

.txtshortcuts { 
  font-size: 1.09em; 
}

.txtdate { 
  font-size: 1.09em;
}
