<?xml version="1.0"?>
<!DOCTYPE events PUBLIC "-//FreeBSD//DTD FreeBSD XML Database for Events//EN"
                        "http://www.FreeBSD.org/XML/share/xml/events.dtd">
<!--
     Events which might be interesting for FreeBSD users.

     Please sort the events by start date, with recent events earlier in the file.
-->

<events xmlns:xi="http://www.w3.org/2001/XInclude">
    <cvs:keyword xmlns:cvs="http://www.FreeBSD.org/XML/CVS">
      $FreeBSD$
    </cvs:keyword>

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2021.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2020.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2019.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2018.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2017.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2016.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2015.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2014.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2013.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2012.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2011.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2010.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2009.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2008.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2007.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2006.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2005.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2004.xml"
    xpointer="xpointer(//event)" />

  <xi:include
    href="http://www.FreeBSD.org/XML/share/xml/events2003.xml"
    xpointer="xpointer(//event)" />
</events>
