<?xml version="1.0" encoding="KOI8-R"?>
<!DOCTYPE events PUBLIC "-//FreeBSD//DTD FreeBSD XML Database for Events//EN"
                        "http://www.FreeBSD.org/XML/www/share/sgml/evenets.dtd">
<!-- $FreeBSD$ -->
<!--
     The FreeBSD Russian Documentation Project

     $FreeBSDru: frdp/www/ru/events/events.xml,v 1.5 2005/06/18 09:56:15 andy Exp $

     Original revision: 1.49
-->
<!--
     События, которые могут представлять интерес для пользователей FreeBSD.

     Пожалуйста, сортируйте мероприятия по дате начала.
-->

<events>
  <cvs:keywords xmlns:cvs="http://www.FreeBSD.org/XML/CVS" version="1.0">
    <cvs:keyword name="freebsd">
      $FreeBSD$
    </cvs:keyword>
  </cvs:keywords>

  <event id="eurobsdcon-2005">
    <name>EuroBSDCon 2005</name>

    <url>http://2005.eurobsdcon.org/</url>

    <startdate>
      <year>2005</year>

      <month>11</month>

      <day>25</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>11</month>

      <day>27</day>
    </enddate>

    <location>
      <country>Швейцария</country>

      <city>Базель</city>

      <site>University of Basel</site>
    </location>

    <description>Четвёртая ежегодная европейская конференция BSD.  Она
      ориентирована на разработчиков и пользователей всех вариантов BSD, в том
      числе, конечно, и FreeBSD.</description>
  </event>

  <event id="linuxtag-2005">
    <name>Linuxtag 2005</name>

    <url>http://www.linuxtag.org/2005/</url>

    <startdate>
      <year>2005</year>

      <month>6</month>

      <day>22</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>6</month>

      <day>25</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Карлсруэ</city>

      <site>Kongresszentrum</site>
    </location>

    <description>Linuxtag является одной из самых крупных выставок-конференций,
      посвящённых Linux и Open Source.  Как и в прошлые годы, FreeBSD будет
      занимать отдельную экспозицию.</description>
  </event>

  <event id="meetbsd-2005">
    <name>MeetBSD 2005</name>

    <url>http://2005.meetbsd.org/</url>

    <startdate>
      <year>2005</year>

      <month>6</month>

      <day>17</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>6</month>

      <day>19</day>
    </enddate>

    <location>
      <country>Польша</country>

      <city>Краков</city>

      <site>Отель Chopin</site>
    </location>

    <description>Вторая ежегодная конференция MeetBSD должна собрать в Польше
      европейских экспертов BSD.  Пол-Хеннинг Кэмп и другие разработчики
      проведут презентации по вопросам, касающимся FreeBSD.</description>
  </event>

  <event id="bsdcan-2005">
    <name>BSDCan 2005</name>

    <url>http://www.bsdcan.org/</url>

    <startdate>
      <year>2005</year>

      <month>5</month>

      <day>13</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>5</month>

      <day>14</day>
    </enddate>

    <location>
      <country>Канада</country>

      <city>Оттава</city>

      <site>University of Ottawa</site>
    </location>

    <description>BSDCan - это конференция разработчиков с сильной ориентацией
      на передовые технологии, исследовательские проекты и находящиеся в
      разработке идеи.  На ней также представлены инфраструктурные
      пользовательские проекты, к участию приглашаются разработчики
      как свободного программного обеспечения, так и коммерческих
      продуктов.</description>
  </event>

  <event id="osf-russia-2005">
    <name>Open Source Forum Russia 2005</name>

    <url>http://www.opensource-forum.ru/</url>

    <startdate>
      <year>2005</year>

      <month>4</month>

      <day>27</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>4</month>

      <day>29</day>
    </enddate>

    <location>
      <country>Россия</country>

      <city>Москва</city>

      <site>Radisson SAS Hotel</site>
    </location>

    <description>Open Source Forum Russia - это первая выставка-конференция,
      которая соберет вместе лидеров рынка ОС из России, Америки и Европы,
      заказчиков, которые интересуются использованием надёжных и эффективных
      Linux-технологий и ИТ-компании, собирающиеся развивать свой бизнес на
      основе Open Source.  <a href="mailto:murray@FreeBSD.org">Мюррей
      Стокели</a> сделает доклад о подготовке релизов FreeBSD и
      бизнес-потенциале BSD.</description>
  </event>

  <event id="usenix-2005">
    <name>2005 USENIX Annual Technical Conference</name>

    <url>http://www.usenix.org/events/usenix05/</url>

    <startdate>
      <year>2005</year>

      <month>4</month>

      <day>10</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>4</month>

      <day>15</day>
    </enddate>

    <location>
      <country>США</country>

      <state>Калифорния</state>

      <city>Anaheim</city>
    </location>

    <description>На 2005 USENIX ATC будет работать секция FREENIX и проходить
      общее обсуждение работ.  Это СЕРЬЁЗНАЯ ежегодная конференция для
      энтузиастов BSD в США.</description>
  </event>

  <event id="linuxforum-2005">
    <name>LinuxForum 2005</name>

    <url>http://www.linuxforum.dk/</url>

    <startdate>
      <year>2005</year>

      <month>3</month>

      <day>4</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>3</month>

      <day>5</day>
    </enddate>

    <location>
      <country>Дания</country>

      <city>Копенгаген</city>

      <site>Kunstakademiets Arkitektskole</site>

      <address>Philip de Langes All&#233;</address>
    </location>

    <description>Ежегодная датская конференция, посвящённая Open Source.  BSD
      будет представлять датская группа пользователей BSD <a
      href="http://www.bsd-dk.dk">BSD-DK</a>.</description>
  </event>

  <event id="fosdem-2005">
    <name>Fosdem 2005</name>

    <url>http://www.fosdem.org/</url>

    <startdate>
      <year>2005</year>

      <month>2</month>

      <day>26</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>2</month>

      <day>27</day>
    </enddate>

    <location>
      <country>Бельгия</country>

      <city>Брюссель</city>

      <site>Universite Libre de Bruxelles</site>

      <address>Avenue Franklin D. Roosevelt 50</address>
    </location>

    <description>2-дневная встреча для продвижения широкого использования
      свободного и открытого программного обеспечения.  Среди представленных
      проектов будут Mozilla, KDE и, конечно же, FreeBSD.</description>
  </event>

  <event id="ffg-2005">
    <name>GUUG-Fr&#252;hjahrsfachgespr&#228;ch 2005</name>

    <url>http://www.guug.de/veranstaltungen/ffg2005/index.html</url>

    <startdate>
      <year>2005</year>

      <month>2</month>

      <day>22</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>2</month>

      <day>25</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Мюнхен</city>

      <site>Munich University of Applied Sciences</site>
    </location>

    <description>Fr&#252;hjahrsfachgespr&#228;ch - это ежегодное мероприятие,
      посвящённое практическим аспектам использования Linux/UNIX.  Большинство
      докладов делается на немецком языке, в том числе о снэпшотах файловой
      системы FreeBSD Дирка Мейера &lt;dinoex@FreeBSD.org&gt;.
    </description>
  </event>

  <event id="scale-2005">
    <name>SCALE: Southern California Linux Expo 2005</name>

    <url>http://www.socallinuxexpo.org/</url>

    <startdate>
      <year>2005</year>

      <month>2</month>

      <day>12</day>
    </startdate>

    <enddate>
      <year>2005</year>

      <month>2</month>

      <day>13</day>
    </enddate>

    <location>
      <country>США</country>

      <state>Калифорния</state>

      <city>Лос-Анджелес</city>

      <site>Los Angeles Convention Center</site>
    </location>

    <description>На третьей выставке Southern California Linux Expo будет <a
      href="http://www.socallinuxexpo.org/exhibitions/freebsd.php">
      экспозиция FreeBSD</a>.  На стенде будет иметься компьютер и будут
      раздаваться компакт-диски, предоставленные компанией <a
      href="www.freebsdmall.com/">FreeBSD Mall</a>.</description>
  </event>

  <event id="ccc-21">
    <name>21. Chaos Communication Congress</name>

    <url>http://www.ccc.de/congress/2004/</url>

    <startdate>
      <year>2004</year>

      <month>12</month>

      <day>27</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>12</month>

      <day>29</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Берлин</city>

      <site>Berliner Congress Center</site>

      <address>Alexanderplatz 2</address>
    </location>

    <description>Chaos Communication Congress - это трёхдневный форум,
      посвящённый технологиям, обществу и утопии.  FreeBSD будет представлена
      стендом.  Если вы хотите помочь, пожалуйста, свяжитесь с <a
      href="mailto:brueffer@FreeBSD.org">Кристианом Бруффером</a>.
    </description>
  </event>

  <event id="enderunix-04">
    <name>Free Software Development and the FreeBSD Operating System</name>

    <url>http://www.enderunix.org/events/metu2004</url>

    <startdate>
      <year>2004</year>

      <month>12</month>

      <day>10</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>12</month>

      <day>10</day>
    </enddate>

    <location>
      <country>Турция</country>

      <city>Анкара</city>

      <site>ODTU Culture and Congress Center</site>

      <address>Saloon D</address>
    </location>

    <description>Эта конференция организована совместно с EnderUNIX Software
      Development Team и Middle East Technical University Computer Center.
      Конференция продлится один день, официальным её языком будет турецкий.
      Для получения дополнительной информации и расписания выступлений,
      пожалуйста, посетите Web-сайт.</description>
  </event>

  <event id="eurobsdcon-2004">
    <name>EuroBSDCon 2004</name>

    <url>http://2004.eurobsdcon.org/</url>

    <startdate>
      <year>2004</year>

      <month>10</month>

      <day>29</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>10</month>

      <day>31</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Карлсруэ</city>

      <site>Queens Hotel Karlsruhe</site>
    </location>

    <description>Третья ежегодная European BSD Conference.  Она ориентирована
      на разработчиков и пользователей всех вариантов BSD, в том числе, конечно
      же, и FreeBSD.</description>
  </event>

  <event id="bsdcon-japan-2004">
    <name>BSDCon Japan 2004</name>

    <url>http://bsdcon.jp/</url>

    <startdate>
      <year>2004</year>

      <month>10</month>

      <day>23</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>10</month>

      <day>23</day>
    </enddate>

    <location>
      <country>Япония</country>

      <city>Осака</city>

      <site>Business Innovation Center Osaka</site>
    </location>

    <description>BSD Conference Japan 2004, третья конференция, посвящённая
      *BSD в Японии, состоится 23 октября 2004 года в Осаке.  Более того, там
      же пройдут <a href="http://k-of.jp/">Kansai Open Source 2004</a> и <a
      href="http://kessen.k-of.jp/">Kansai Community Contest</a>.</description>
  </event>

  <event id="systems-2004">
    <name>Systems 2004</name>

    <url>http://www.systems.de/</url>

    <startdate>
      <year>2004</year>

      <month>10</month>

      <day>18</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>10</month>

      <day>22</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Мюнхен</city>

      <site>New Munich Trade Fair Centre</site>
    </location>

    <description>Systems - это торговая выставка для ИТ, медийных и
      коммуникационных компаний.  Там будет присутствовать объединённый стенд
      BSD.  Если вы хотите помочь, пожалуйста, свяжитесь с <a
      href="mailto:dan@deam.org">Даниэлем Эттле</a>.
    </description>
  </event>

  <event id="guficon5">
    <name>Italian FreeBSD User Group (GUFI) Conference 2004</name>

    <url>http://www.gufi.org/guficon5/</url>

    <startdate>
      <year>2004</year>

      <month>10</month>

      <day>2</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>10</month>

      <day>3</day>
    </enddate>

    <location>
      <country>Италия</country>

      <city>Милан</city>
    </location>

    <description>Italian FreeBSD User Group (GUFI) Conference.  Информация
      размещена на Web-сайте конференции (на итальянском языке).</description>
  </event>

  <event id="auug2004">
    <name>The AUUG'2004 Annual Conference</name>

    <url>http://www.auug.org.au/events/2004/auug2004/</url>

    <startdate>
      <year>2004</year>

      <month>9</month>

      <day>1</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>9</month>

      <day>3</day>
    </enddate>

    <location>
      <country>Австралия</country>

      <city>Мельбурн</city>
    </location>

    <description>AUUG'2004 - это ежегодная техническая конференция AUUG,
      Australian UNIX and Open Systems User Group.  Конференция заострит
      внимание на вопросах идентификации и аутентификации в Internet, а также
      информационной безопасности и анонимности.</description>
  </event>

  <event id="sucon-2004">
    <name>2nd Swiss Unix Conference</name>

    <url>http://www.sucon.ch/</url>

    <startdate>
      <year>2004</year>

      <month>9</month>

      <day>2</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>9</month>

      <day>4</day>
    </enddate>

    <location>
      <country>Швейцария</country>

      <city>Цюрих</city>
    </location>

    <description>SUCON - это недавно организованная конференция, посвящённая
      вопросам, связанным с операционной системой Unix.  Нашей целью является
      организация встречи разработчиков, системных администраторов и
      пользователей, связанных с Unix, чтобы стимулировать развитие проектов,
      идей и знаний каждого участника.  Несколько выступлений будет посвящено
      FreeBSD.  Если вы хотите присоединиться к группе FreeBSD, свяжитесь с <a
      href="mailto:josef@FreeBSD.org">Джозефом Эль-Райесом</a>.</description>
  </event>

  <event id="linuxexpocn-2004">
    <name>Linux Expo Shanghai</name>

    <url>http://www.linuxexposhanghai.com/</url>

    <startdate>
      <year>2004</year>

      <month>9</month>

      <day>9</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>9</month>

      <day>10</day>
    </enddate>

    <location>
      <country>Китай</country>

      <city>Шанхай</city>
    </location>

    <description>Linux Expo Shanghai - это самая крупная конференция,
      посвящённая Linux/Open Source, в Шанхае этим летом.  Оба дня на нашем
      стенде будет присутствовать <a href="mailto:murray@FreeBSD.org">Мюррей
      Стокели</a> и участники группы пользователей <a
      href="http://www.freebsdchina.org">FreeBSD China</a>.</description>

    <link type="photos">
      <name>Фотографии Мюррея Стокели, Яшуэ и Хайлу (FreeBSD China)</name>

      <url>http://www.stokely.org/20040910-shanghai-linuxexpo/</url>
    </link>

    <link type="other">
      <name>Слайды из выступления Мюррея Стокели</name>

      <url>http://people.FreeBSD.org/~murray/</url>
    </link>

  </event>

  <event id="usenix-2004">
    <name>2004 USENIX Annual Technical Conference</name>

    <url>http://www.usenix.org/events/usenix04/</url>

    <startdate>
      <year>2004</year>

      <month>6</month>

      <day>27</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>7</month>

      <day>2</day>
    </enddate>

    <location>
      <country>США</country>

      <state>Массачусетс</state>

      <city>Бостон</city>
    </location>

    <description>На 2004 USENIX ATC будет работать секция <a
      href="http://www.usenix.org/events/usenix04/freenix.html">FREENIX</a>
      и общее обсуждение работ, а также новая специальная секция <a
      href="http://www.usenix.org/events/usenix04/usebsd.html">UseBSD</a>.
      В 2004 году в США не будет отдельно спонсируемой Usenix выставки BSDCon,
      так что это БОЛЬШАЯ конференция года для американских энтузиастов
      BSD.</description>

    <link type="photos">
      <name>Фото Мэтта Диллона</name>

      <url>http://apollo.backplane.com/USENIX2004/</url>
    </link>
  </event>

  <event id="linuxtag04">
    <name>Linuxtag 2004</name>

    <url>http://www.linuxtag.org/2004/</url>

    <startdate>
      <year>2004</year>

      <month>6</month>

      <day>23</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>6</month>

      <day>26</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Карлсруэ</city>

      <site>Kongresszentrum</site>
    </location>

    <description>Linuxtag - это одна из крупнейших европейских торговых
      выставок-конференций, посвящённая Linux и Open Source.  Как и в
      предыдущие годы, будет присутствовать стенд FreeBSD.</description>
  </event>

  <event id="linuxwochen04">
    <name>Linuxwochen Wien</name>

    <url>http://www.linuxwochen.at</url>

    <startdate>
      <year>2004</year>

      <month>5</month>

      <day>26</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>5</month>

      <day>29</day>
    </enddate>

    <location>
      <country>Австрия</country>

      <city>Вена</city>

      <site>Museumsquartier, A-1070 Wien Museumsplatz 1</site>
    </location>

    <description>Linuxwochen - это ежегодная выездная выставка с выступлениями,
      посвящёнными открытому коду, которая пройдёт во всех крупных городах
      Австрии.  В Вене пройдёт самое большое мероприятие.  Там состоится
      выступление <a href="mailto:josef@FreeBSD.org">Джозефа Эль-Райеса</a>,
      который организует и выставочный стенд.  Если вы хотите помочь,
      обратитесь к информации о <a
      href="http://roadtrip.daemon.li/index.pl?LinuxWochen">Выставочных стендах
      FreeBSD</a> в энциклопедии Wiki.
    </description>
  </event>

  <event id="bsdcan-2004">
    <name>BSDCan</name>

    <url>http://www.bsdcan.org/</url>

    <startdate>
      <year>2004</year>

      <month>5</month>

      <day>13</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>5</month>

      <day>15</day>
    </enddate>

    <location>
      <country>Канада</country>

      <city>Оттава</city>

      <site>University of Ottawa</site>
    </location>

    <description>BSDCan - это конференция разработчиков с сильной ориентацией
      на передовые технологии, исследовательские проекты и находящиеся в
      разработке идеи.  На ней также представлены инфраструктурные
      пользовательские проекты, к участию приглашаются разработчики
      как свободного программного обеспечения, так и коммерческих
      продуктов.</description>
  </event>

  <event id="asia-bsdcon-2004">
    <name>Asia BSDCon 2004</name>

    <url>http://www.asiabsdcon.org/</url>

    <startdate>
      <year>2004</year>

      <month>3</month>

      <day>12</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>3</month>

      <day>15</day>
    </enddate>

    <location>
      <country>Тайвань</country>

      <city>Тайпей</city>

      <site>Academica Sinica</site>
    </location>

    <description>Первая конференция BSDCon, проходящая в Азии, которую
      спонсирует <a href="http://www.usenix.org/">USENIX Association</a>.  Двум
      дням технических обсуждений и выставочной активности будут предшествовать
      два дня учебных лекций.</description>
  </event>

  <event id="linuxforum-2004">
    <name>LinuxForum 2004</name>

    <url>http://www.linuxforum.dk/</url>

    <startdate>
      <year>2004</year>

      <month>3</month>

      <day>5</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>3</month>

      <day>6</day>
    </enddate>

    <location>
      <country>Дания</country>

      <city>Копенгаген</city>

      <site>Symbion</site>

      <address>Fruebjergvej 3</address>
    </location>

    <description>Ежегодная датская конференция, посвящённая Open Source.  BSD
      будет представлять датская группа пользователей <a
      href="http://www.bsd-dk.dk">BSD-DK</a>.</description>
  </event>

  <event id="fosdem-2004">
    <name>Fosdem 2004</name>

    <url>http://www.fosdem.org/</url>

    <startdate>
      <year>2004</year>

      <month>2</month>

      <day>21</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>2</month>

      <day>22</day>
    </enddate>

    <location>
      <country>Бельгия</country>

      <city>Брюссель</city>

      <site>Universite Libre de Bruxelles</site>

      <address>Avenue Franklin D. Roosevelt 50</address>
    </location>

    <description>2-дневная встреча для продвижения широкого использования
      свободного и открытого программного обеспечения.  Среди представленных
      проектов будут Mozilla, KDE и, конечно же, FreeBSD.</description>
  </event>

  <event id="linuxexpofr-2004">
    <name>Solutions Linux 2004</name>

    <url>http://www.linuxsolutions.fr/</url>

    <startdate>
      <year>2004</year>

      <month>2</month>

      <day>3</day>
    </startdate>

    <enddate>
      <year>2004</year>

      <month>2</month>

      <day>5</day>
    </enddate>

    <location>
      <country>Франция</country>

      <city>Париж</city>

      <site>CNIT</site>

      <address>La Defense</address>
    </location>

    <description>3-дневное мероприятие для продвижения программного обеспечения
      GNU/Linux и Open Source.  В Association Village будет присутствовать <a
      href="http://www.FreeBSD-fr.ORG">французская группа пользователей
      FreeBSD</a>, которая, конечно же, будет представлять
      FreeBSD!</description>
  </event>

  <event id="ccc-20">
    <name>20. Chaos Communication Congress</name>

    <url>http://www.ccc.de/congress/2003/</url>

    <startdate>
      <year>2003</year>

      <month>12</month>

      <day>27</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>12</month>

      <day>29</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Берлин</city>

      <site>Berliner Congress Center</site>

      <address>Alexanderplatz 2</address>
    </location>

    <description>Chaos Communication Congress - это трёхдневный форум,
      посвящённый технологиям, обществу и утопии.  FreeBSD будет представлена
      стендом.  Если вы хотите помочь, пожалуйста, свяжитесь с <a
      href="mailto:brueffer@FreeBSD.org">Кристианом Бруффером</a>.
    </description>

    <link type="photos">
      <name>Фото Джозефа Эль-Райеса</name>

      <url>http://gallery.daemon.li/20c3/</url>
    </link>
  </event>

  <event id="bsdcon-brasil-2003">
    <name>BSDCon Brasil</name>

    <url>http://bsdcon.myfreebsd.com.br/</url>

    <startdate>
      <year>2003</year>

      <month>12</month>

      <day>6</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>12</month>

      <day>7</day>
    </enddate>

    <location>
      <country>Бразилия</country>

      <city>Рио-де-Жанейро</city>
    </location>

    <description>Это первая выставка BSDCon Brasil.  BSDCon Brasil организована
      и продвигается несколькими компаниями, связанными с сообществом BSD.
      Два дня будут заполнены рабочими занятиями, презентациями и
      мини-лекциями, посвящёнными BSD в целом.</description>
  </event>

  <event id="bsdlinuxday-2003">
    <name>BSD/Linux Day</name>

    <url>http://www.jus.or.jp/events/bsd-linux-day/</url>

    <startdate>
      <year>2003</year>

      <month>12</month>

      <day>2</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>12</month>

      <day>2</day>
    </enddate>

    <location>
      <country>Япония</country>

      <city>Йокогама</city>
    </location>

    <description>В течение конференции InternetWeek 2003 Conference, которая
      пройдёт в Йокогаме, со 2 по 5 декабря, состоится День BSD/Linux,
      организованный Japan Unix Society.</description>
  </event>

  <event id="sf10yearparty">
    <name>FreeBSD 10 Year Anniversary Party</name>

    <url>http://www.offmyserver.com/cgi-bin/store/rsvp.html</url>

    <startdate>
      <year>2003</year>

      <month>11</month>

      <day>24</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>11</month>

      <day>24</day>
    </enddate>

    <location>
      <country>США</country>

      <city>Сан-Франциско</city>

      <site>DNA Lounge</site>

      <address>www.dnalounge.com</address>
    </location>

    <description>Присоединяйтесь к нам 24 ноября, чтобы отпраздновать 10-летнюю
      годовщину FreeBSD!  Пожалуйста, зарегистрируйтесь <a
      href="http://www.offmyserver.com/cgi-bin/store/rsvp.html">здесь</a>,
      чтобы мы смогли заказать выпивки и закуски в достаточном для всех
      количестве.</description>

    <link type="photos">
      <name>Фото Мэтта Диллона</name>

      <url>http://apollo.backplane.com/pics.bsdparty/</url>
    </link>
  </event>

  <event id="scale-2003">
    <name>SCALE: Southern California Linux Expo 2003</name>

    <url>http://www.socallinuxexpo.com/</url>

    <startdate>
      <year>2003</year>

      <month>11</month>

      <day>22</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>11</month>

      <day>22</day>
    </enddate>

    <location>
      <country>США</country>

      <state>Калифорния</state>

      <city>Лос-Анджелес</city>

      <site>Los Angeles Convention Center</site>
    </location>

    <description>Вторая ежегодная выставка Southern California Linux Expo.
      FreeBSD будет здесь присутствовать, состоится раздача
      промо-материала.</description>
  </event>

  <event id="linuxday-5">
    <name>5. Linuxday Vorarlberg</name>

    <url>http://www.linuxday.at/</url>

    <startdate>
      <year>2003</year>

      <month>11</month>

      <day>15</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>11</month>

      <day>15</day>
    </enddate>

    <location>
      <country>Австрия</country>

      <city>Дорнбёрн</city>

      <site>HTL Dornbirn</site>

      <address>H&#246;chsterstrasse 73</address>
    </location>

    <description>Linuxday в Воральберге - это мероприятие, на котором участники
      проектов с открытым кодом представляют собственные разработки.  Вход
      бесплатен.  Будут также выступления, касающиеся FreeBSD.</description>
  </event>
      
  <event id="bsdcon-japan-2003">
    <name>BSDCon Japan 2003</name>

    <url>http://bsdcon.jp/</url>

    <startdate>
      <year>2003</year>

      <month>10</month>

      <day>18</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>10</month>

      <day>18</day>
    </enddate>

    <location>
      <country>Япония</country>

      <city>Токио</city>

      <site>BIZ Shinjuku</site>
    </location>

    <description>BSD Conference Japan 2003, вторая японская конференция,
      посвящённая *BSD, прошла в Токио 18 октября 2003 года.  Было около 170
      участников.  Одновременно проходило две секции (общая и техническая),
      в течение конференции состоялось 4 технических доклада и 12 сообщений
      носили характер идей, находящихся в разработке.</description>
  </event>

  <event id="linux-kongress-03">
    <name>Linux-Kongress 2003</name>

    <url>http://www.linux-kongress.org/2003/</url>

    <startdate>
      <year>2003</year>

      <month>10</month>

      <day>14</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>10</month>

      <day>16</day>
    </enddate>

    <location>
      <country>Германия</country>

      <city>Саарбрюкен</city>

      <site>University of the Saarland</site>
    </location>

    <description>На Linux-Kongress, наверное, самой известной конференции
      разработчиков Linux, FreeBSD будет представлена выставочным стендом.  Мы
      будем отвечать на вопросы, покажем систему и представим некоторые
      коммерческие предложения.</description>
  </event>

  <event id="bsdcon-03">
    <name>BSDCon '03</name>

    <url>http://www.usenix.org/events/bsdcon03/</url>

    <startdate>
      <year>2003</year>

      <month>9</month>

      <day>8</day>
    </startdate>

    <enddate>
      <year>2003</year>

      <month>9</month>

      <day>12</day>
    </enddate>

    <location>
      <country>США</country>

      <state>Калифорния</state>

      <city>Сан-Матео</city>
    </location>

    <description>Главное событие в мире BSD, BSDCon, происходит уже четвёртый
      раз.  Два дня лекций будут предшествовать двум с половиной дням
      технических обсуждений.  Это возможность специалистам разного уровня
      поучиться у экспертов BSD, профессионалов с опытом реальной работы и
      лидеров отрасли.</description>

    <link type="notes">
      <name>Заметки со встречи разработчиков FreeBSD</name>

      <url type="freebsd-website">/events/2003/bsdcon-devsummit.html</url>
    </link>

    <link type="other">
      <name>Неофициальные материалы BSDCon US 2003 в Wiki</name>

      <url>http://bsdcon.kwiki.org/</url>
    </link>

    <link type="photos">
      <name>Фото Мэтта Диллона с BSDCon 2003</name>

      <url>http://apollo.backplane.com/BSDCON2003/</url>
    </link>
  </event>
</events>
