# $FreeBSD$
# $FreeBSDru: frdp/doc/ru_RU.KOI8-R/man/FRDP.man.dist,v 1.5 2007/11/20 06:53:01 ru Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
/set uname=man
    cat1
    ..
    cat1aout
    ..
    cat2
    ..
    cat3
    ..
    cat4
        amd64
        ..
        arm
        ..
        i386
        ..
        powerpc
        ..
        sparc64
        ..
    ..
    cat5
    ..
    cat6
    ..
    cat7
    ..
    cat8
        amd64
        ..
        i386
        ..
        powerpc
        ..
        sparc64
        ..
    ..
    cat9
    ..
/set uname=root
    man1
    ..
    man1aout
    ..
    man2
    ..
    man3
    ..
    man4
        amd64
        ..
        arm
        ..
        i386
        ..
        powerpc
        ..
        sparc64
        ..
    ..
    man5
    ..
    man6
    ..
    man7
    ..
    man8
        amd64
        ..
        i386
        ..
        powerpc
        ..
        sparc64
        ..
    ..
    man9
    ..
..
