<footer>
  <div class="footer-container">
    <section class="logo-column">
      <img src="{{ "images/beastie-right.svg" | relURL }}" width="160" height="250" alt="FreeBSD logo" />
      <div class="theme-container">
        <label for="theme-switch" class="theme-switch-label" aria-label="Switch color theme">
          <i class="fa fa-moon-o theme-icon theme-icon-dark" aria-hidden="true"></i>
          <i class="fa fa-sun-o theme-icon theme-icon-light" aria-hidden="true"></i>
        </label>
      </div>
      </section>
      <section class="about-column">
        <h3 class="column-title">{{ i18n "f-about" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="{{ "about" | relLangURL }}" class="column-element">{{ i18n "f-freebsd" }}</a>
          </li>
          <li>
            <a href="https://freebsdfoundation.org/" class="column-element">{{ i18n "f-freebsd-foundation" }}</a>
          </li>
          <li>
            <a href="https://freebsdfoundation.org/our-work/journal/" class="column-element">FreeBSD Journal</a>
          </li>
          <li>
            <a href="{{ "where" | relLangURL }}" class="column-element">{{ i18n "f-get-freebsd" }}</a>
          </li>
          <li>
            <a href="{{ "internal/code-of-conduct" | relLangURL }}" class="column-element">{{ i18n "f-code-of-conduct" }}</a>
          </li>
          <li>
            <a href="{{ "security" | relLangURL }}" class="column-element">{{ i18n "f-security-advisories" }}</a>
          </li>
        </ul>
      </section>
      <section class="documentation-column">
        <h3 class="column-title">{{ i18n "f-documentation" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="https://docs.freebsd.org" class="column-element">{{ i18n "f-documentation-portal" }}</a>
          </li>
          <li>
            <a href="https://man.FreeBSD.org" target="_blank" class="column-element">{{ i18n "f-manual-pages" }}</a>
          </li>
          <li>
            <a href="https://papers.FreeBSD.org" target="_blank" class="column-element">{{ i18n "f-presentation-and-papers" }}</a>
          </li>
          <li>
            <a href="https://docs-archive.freebsd.org/doc/" target="_blank" class="column-element">{{ i18n "f-previous-versions" }}</a>
          </li>
          <li>
            <a href="https://docs-archive.freebsd.org/44doc/" target="_blank" class="column-element">{{ i18n "f-44bsd-documents" }}</a>
          </li>
          <li>
            <a href="https://wiki.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-wiki" }}</a>
          </li>
        </ul>
      </section>
      <section class="community-column">
        <h3 class="column-title">{{ i18n "f-community" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href={{ "https://docs.freebsd.org/en/articles/contributing" | relLangURL }} class="column-element">{{ i18n "f-get-involved" }}</a>
          </li>
          <li>
            <a href="https://forums.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-community-forum" }}</a>
          </li>
          <li>
            <a href="https://lists.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-mailing-lists" }}</a>
          </li>
          <li>
            <a href="https://wiki.freebsd.org/IRC/Channels" target="_blank" class="column-element">{{ i18n "f-irc-channels" }}</a>
          </li>
          <li>
            <a href="https://bugs.freebsd.org/bugzilla/" target="_blank" class="column-element">{{ i18n "f-bug-tracker" }}</a>
          </li>
        </ul>
      </section>
      <section class="legal-column">
        <h3 class="column-title">{{ i18n "f-legal" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="https://freebsdfoundation.org/donate/" target="_blank" class="column-element">{{ i18n "f-donations" }}</a>
          </li>
          <li>
            <a href="{{ "copyright/freebsd-license" | relLangURL }}" class="column-element">{{ i18n "f-licensing" }}</a>
          </li>
          <li>
            <a href="{{ "privacy" | relLangURL }}" class="column-element">{{ i18n "f-privacy-policy" }}</a>
          </li>
          <li>
            <a href="{{ "copyright" | relLangURL }}" class="column-element">{{ i18n "f-legal-notices" }}</a>
          </li>
        </ul>
      </section>
      <section class="copyright-column">
        <p>&copy; 1994-{{ now.Format "2006" }} {{ i18n "f-all-rights-reserved" }}</p>
        <span>{{ i18n "f-made-with" }} <span class="heart">❤️</span> {{ i18n "f-by-freebsd-community" }}</span>
      </section>
  </div>
</footer>
