/*
 * The FreeBSD Russian Documentation Project
 *
 * $FreeBSD$
 * $FreeBSDru: frdp/doc/ru_RU.KOI8-R/articles/5-roadmap/extra.css,v 1.1 2004/01/06 18:19:42 andy Exp $
 *
 * Original revision: 1.1
 *
 * Netscape 4 does not recognize the @import directive of CSS, so we
 * can't add an additional stylesheet layer on top of the default one.
 * Instead, we use this hack to copy this file to the end of
 * docbook.css. 
 */

/* @import "docbook.css"; */

/* Customization that looks good for this particular article. */

DIV.TITLEPAGE {
	text-align: center;
}
