# Hugo default output directory
/public
resources

# Generated content
toc-examples.adoc
toc-figures.adoc
toc-tables.adoc
toc.adoc
toc-1.adoc
toc-2.adoc
toc-3.adoc
toc-4.adoc
toc-5.adoc
pgpkeys.txt

*.swp

# .hugo_build.lock is an empty file for building hugo projects.
.hugo_build.lock
